/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Roboto", sans-serif;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: #f3f3f3;
}
.navBar__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.navBar__link:hover {
  background: #14416A;
}

.telescopeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 302px;
  border: 1px solid rgba(0, 0, 0, 0.068);
}
.telescopeCard h3 {
  text-align: center;
  padding: 0 25px;
  margin: 5px 0 15px;
  height: 40px;
  line-height: 1.23;
  font-weight: 700;
}
.telescopeCard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.telescopeCard__img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
}
.telescopeCard__price {
  margin-top: 15px;
  font-weight: 700;
  color: #FF0000;
}
.telescopeCard__price__span {
  position: absolute;
  color: #000;
  font-size: 0.8em;
  margin: 3px 0 0 -40px;
}
.telescopeCard__addCount {
  margin: 7px 0 10px;
}
.telescopeCard__addCount__btn {
  width: 30px;
  height: 30px;
  background: #f3f3f3;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 7px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.telescopeCard__addCount__btn:hover {
  background: #dadada;
  transition: all 200ms ease-in-out;
}
.telescopeCard__addCount__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
}
.telescopeCard__addCount__btn--unselected:hover {
  background: #f3f3f3;
}
.telescopeCard__addCount__input {
  text-align: center;
  height: 30px;
  width: 50px;
  font-size: 1.1em;
  margin: 0 15px;
}
.telescopeCard__buttons__btn {
  width: 75px;
  height: 35px;
  margin: 0 5px 15px;
  color: #f3f3f3;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.telescopeCard__buttons__btn__infos {
  background: #14416A;
  transition: opacity 200ms ease-in-out;
}
.telescopeCard__buttons__btn__infos:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.telescopeCard__buttons__btn__buy {
  background: #000;
  transition: all 200ms ease-in-out;
}
.telescopeCard__buttons__btn__buy:hover {
  background: #14416A;
  transition: all 200ms ease-in-out;
}
.telescopeCard__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrousel {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.705);
  cursor: default;
}
.carrousel__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 600px;
  min-height: 600px;
  padding: 20px;
  border-radius: 4px;
  user-select: none;
}
.carrousel__modal img {
  width: 560px;
  height: 560px;
  object-fit: cover;
}
.carrousel__modal__tinyImgs {
  display: flex;
  margin-top: 15px;
}
.carrousel__modal__tinyImgs__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 15px;
}
.carrousel__modal__tinyImgs__cont__cover {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.37);
  opacity: 0;
  cursor: pointer;
}
.carrousel__modal__tinyImgs__cont__cover:hover {
  opacity: 1;
}
.carrousel__modal__tinyImgs__cont__cover--active {
  background: rgba(0, 0, 0, 0.527);
  opacity: 1;
}
.carrousel__modal__tinyImgs__cont img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}
.carrousel__modal__closeBtn {
  position: absolute;
  right: 20px;
  font-size: 1.2em;
  font-weight: 700;
  border: 2px solid black;
  padding: 3px 7px;
  border-radius: 50%;
  background: #14416A;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.carrousel__modal__closeBtn:hover {
  color: #FF0000;
  border-color: #FF0000;
  transition: all 200ms ease-out;
}
.carrousel__modal__previous {
  position: absolute;
  left: 10px;
  top: 300px;
  height: 40px;
  width: 40px;
  font-weight: 700;
  font-size: 1.4em;
  padding-bottom: 2px;
  background: rgba(205, 205, 205, 0.452);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.carrousel__modal__previous:hover {
  background: rgba(128, 128, 128, 0.452);
  transition: all 150ms ease-in-out;
}
.carrousel__modal__next {
  position: absolute;
  right: 10px;
  top: 300px;
  height: 40px;
  width: 40px;
  font-weight: 700;
  font-size: 1.4em;
  padding-bottom: 2px;
  background: rgba(205, 205, 205, 0.452);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.carrousel__modal__next:hover {
  background: rgba(128, 128, 128, 0.452);
  transition: all 150ms ease-in-out;
}

.oculaireCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 302px;
  border: 1px solid rgba(0, 0, 0, 0.068);
}
.oculaireCard h3 {
  text-align: center;
  padding: 0 25px;
  margin: 5px 0 15px;
  height: 40px;
  line-height: 1.23;
  font-weight: 700;
}
.oculaireCard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.oculaireCard__img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
}
.oculaireCard__price {
  margin-top: 15px;
  font-weight: 700;
  color: #FF0000;
}
.oculaireCard__price__span {
  position: absolute;
  color: #000;
  font-size: 0.8em;
  margin: 3px 0 0 -40px;
}
.oculaireCard__addCount {
  margin: 7px 0 10px;
}
.oculaireCard__addCount__btn {
  width: 30px;
  height: 30px;
  background: #f3f3f3;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 7px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.oculaireCard__addCount__btn:hover {
  background: #dadada;
  transition: all 200ms ease-in-out;
}
.oculaireCard__addCount__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
}
.oculaireCard__addCount__btn--unselected:hover {
  background: #f3f3f3;
}
.oculaireCard__addCount__input {
  text-align: center;
  height: 30px;
  width: 50px;
  font-size: 1.1em;
  margin: 0 15px;
}
.oculaireCard__buttons__btn {
  width: 75px;
  height: 35px;
  margin: 0 5px 15px;
  color: #f3f3f3;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.oculaireCard__buttons__btn__infos {
  background: #14416A;
  transition: opacity 200ms ease-in-out;
}
.oculaireCard__buttons__btn__infos:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.oculaireCard__buttons__btn__buy {
  background: #000;
  transition: all 200ms ease-in-out;
}
.oculaireCard__buttons__btn__buy:hover {
  background: #14416A;
  transition: all 200ms ease-in-out;
}
.oculaireCard__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.montureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 302px;
  border: 1px solid rgba(0, 0, 0, 0.068);
}
.montureCard h3 {
  text-align: center;
  padding: 0 25px;
  margin: 5px 0 15px;
  height: 40px;
  line-height: 1.23;
  font-weight: 700;
}
.montureCard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.montureCard__img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
}
.montureCard__price {
  margin-top: 15px;
  font-weight: 700;
  color: #FF0000;
}
.montureCard__price__span {
  position: absolute;
  color: #000;
  font-size: 0.8em;
  margin: 3px 0 0 -40px;
}
.montureCard__addCount {
  margin: 7px 0 10px;
}
.montureCard__addCount__btn {
  width: 30px;
  height: 30px;
  background: #f3f3f3;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 7px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.montureCard__addCount__btn:hover {
  background: #dadada;
  transition: all 200ms ease-in-out;
}
.montureCard__addCount__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
}
.montureCard__addCount__btn--unselected:hover {
  background: #f3f3f3;
}
.montureCard__addCount__input {
  text-align: center;
  height: 30px;
  width: 50px;
  font-size: 1.1em;
  margin: 0 15px;
}
.montureCard__buttons__btn {
  width: 75px;
  height: 35px;
  margin: 0 5px 15px;
  color: #f3f3f3;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.montureCard__buttons__btn__infos {
  background: #14416A;
  transition: opacity 200ms ease-in-out;
}
.montureCard__buttons__btn__infos:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.montureCard__buttons__btn__buy {
  background: #000;
  transition: all 200ms ease-in-out;
}
.montureCard__buttons__btn__buy:hover {
  background: #14416A;
  transition: all 200ms ease-in-out;
}
.montureCard__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartStepLocation {
  display: none;
  width: 1480px;
}
.cartStepLocation__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3em;
}
.cartStepLocation__infosOblig {
  font-size: 0.7em;
  font-style: italic;
}
.cartStepLocation__status {
  margin: 15px 0;
}
.cartStepLocation__status label {
  margin-right: 10px;
}
.cartStepLocation__status input {
  margin-right: 5px;
}
.cartStepLocation__individual span {
  color: #FF0000;
}
.cartStepLocation__individual label {
  font-weight: 700;
  font-size: 0.9em;
}
.cartStepLocation__individual__names {
  display: flex;
}
.cartStepLocation__individual__names label {
  margin-bottom: 5px;
}
.cartStepLocation__individual__names__civ {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.cartStepLocation__individual__names__civ select {
  display: flex;
  justify-content: center;
  background: white;
  width: 90px;
}
.cartStepLocation__individual__names__name {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.cartStepLocation__individual__contacts {
  display: flex;
  flex-direction: column;
  margin: 15px 0 20px;
}
.cartStepLocation__individual__contacts label {
  margin-bottom: 5px;
}
.cartStepLocation__individual__contacts__mail {
  display: flex;
  flex-direction: column;
}
.cartStepLocation__individual__contacts__phones {
  display: flex;
}
.cartStepLocation__individual__contacts__phones__phone {
  display: flex;
  flex-direction: column;
  margin: 15px 20px 0 0;
}
.cartStepLocation__individual__newsletter {
  margin-bottom: 60px;
}
.cartStepLocation__individual__newsletter__checkBoxCont {
  display: flex;
}
.cartStepLocation__individual__newsletter__checkBoxCont input {
  height: initial;
}
.cartStepLocation__individual__newsletter__checkBoxCont label {
  margin-top: 3px;
  font-style: italic;
}
.cartStepLocation__individual__billLocation {
  margin-bottom: 60px;
}
.cartStepLocation__individual__billLocation__row {
  display: flex;
}
.cartStepLocation__individual__billLocation__row__cont {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 15px;
}
.cartStepLocation__individual__billLocation__row__cont input {
  width: 300px;
}
.cartStepLocation__individual__billLocation__row__cont label {
  margin-bottom: 5px;
}
.cartStepLocation__individual__sameLocation {
  margin: 15px 0 60px;
}
.cartStepLocation__individual__sameLocation input {
  height: initial;
  margin-right: 5px;
}
.cartStepLocation__individual__notSameLocation {
  margin: 15px 0 60px;
}
.cartStepLocation__individual__notSameLocation__row {
  display: flex;
}
.cartStepLocation__individual__notSameLocation__row__cont {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 15px;
}
.cartStepLocation__individual__notSameLocation__row__cont input {
  width: 300px;
}
.cartStepLocation__individual__notSameLocation__row__cont label {
  margin-bottom: 5px;
}
.cartStepLocation__individual__divers {
  display: flex;
  flex-direction: column;
}
.cartStepLocation__individual__divers label {
  margin: 15px 0 5px;
}
.cartStepLocation__individual__divers textarea {
  resize: none;
  width: 500px;
  margin-bottom: 40px;
}
.cartStepLocation__individual__errorSpan {
  font-size: 0.7em;
}
.cartStepLocation__individual__inputs, .cartStepLocation__individual select {
  height: 40px;
  border: rgba(205, 205, 205, 0.452) 1px solid;
}
.cartStepLocation__individual__inputs__errorInput, .cartStepLocation__individual select__errorInput {
  border: 1px solid #FF0000;
}
.cartStepLocation__business {
  margin-bottom: 50px;
}
.cartStepLocation__business__row {
  display: flex;
}
.cartStepLocation__business__row__infos {
  display: flex;
  flex-direction: column;
}
.cartStepLocation__business__row__infos label {
  margin: 15px 0 5px;
}
.cartStepLocation__business__row__infos input {
  margin-right: 20px;
  width: 250px;
}
.cartStepLocation--active {
  display: block;
}

#mail {
  width: 550px;
}

.cartStepDelivery {
  display: none;
  width: 1480px;
}
.cartStepDelivery__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3em;
}
.cartStepDelivery h3 {
  font-size: 1.3em;
  margin-bottom: 15px;
}
.cartStepDelivery__adress {
  margin-bottom: 50px;
  line-height: 1.2;
}
.cartStepDelivery__infosComp {
  resize: none;
  height: 130px;
  width: 900px;
}
.cartStepDelivery__deliveySelect {
  font-size: 1.3em;
  border-bottom: 5px solid black;
  width: 399px;
  padding-bottom: 6px;
  margin-top: 50px;
}
.cartStepDelivery__optionDelivery {
  display: flex;
  height: 150px;
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  padding-top: 20px;
}
.cartStepDelivery__optionDelivery:first-child {
  border-top: none;
}
.cartStepDelivery__optionDelivery input {
  height: 13px;
  width: 13px;
  margin-right: 25px;
}
.cartStepDelivery__optionDelivery__cont {
  display: flex;
  flex-direction: column;
}
.cartStepDelivery__optionDelivery__cont__mainInfos {
  width: 1292px;
  display: flex;
  font-weight: 700;
  margin-bottom: 20px;
}
.cartStepDelivery__optionDelivery__cont__mainInfos__price {
  color: #FF0000;
  margin-right: 20px;
}
.cartStepDelivery__optionDelivery__cont__infos {
  display: flex;
  flex-direction: column;
}
.cartStepDelivery__optionDelivery__cont__infos p {
  font-size: 0.9em;
  line-height: 1.2;
}
.cartStepDelivery__optionDelivery__img {
  display: flex;
  justify-content: center;
  width: 150px;
  padding-bottom: 20px;
}
.cartStepDelivery__optionDelivery__img img {
  max-width: 140px;
  object-fit: contain;
}
.cartStepDelivery--active {
  display: block;
}

#delivery__backBtn {
  width: 200px;
}

.cartStepPayment h3 {
  font-size: 1.3em;
  margin-bottom: 15px;
}
.cartStepPayment__paymentChoice {
  margin-bottom: 40px;
}
.cartStepPayment__paymentChoice__choice {
  padding-top: 20px;
  display: flex;
  height: 130px;
}
.cartStepPayment__paymentChoice__choice input {
  width: 13px;
  height: 13px;
  margin-right: 25px;
}
.cartStepPayment__paymentChoice__choice__textCont {
  width: 1292px;
}
.cartStepPayment__paymentChoice__choice__textCont h4 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 8px;
}
.cartStepPayment__paymentChoice__choice__textCont p {
  font-size: 0.9em;
  line-height: 1.2;
}
.cartStepPayment__paymentChoice__choice__img {
  display: flex;
  justify-content: center;
  width: 150px;
  padding-bottom: 20px;
}
.cartStepPayment__paymentChoice__choice__img img {
  max-width: 140px;
  object-fit: contain;
}

.cartStepConfirm h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 60px;
}
.cartStepConfirm h3 {
  text-align: center;
  letter-spacing: 1.1px;
  margin-bottom: 100px;
}

.confirmModal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.712);
}
.confirmModal__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: #f3f3f3;
  width: 500px;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
}
.confirmModal__modal__top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background: #14416A;
  border-radius: 4px;
}
.confirmModal__modal__top p {
  text-transform: uppercase;
  color: #f3f3f3;
}
.confirmModal__modal span {
  font-weight: 700;
  font-size: 1.1em;
  color: #FF0000;
}
.confirmModal__modal h2 {
  width: 60%;
  font-size: 1.1em;
  font-weight: 700;
  margin: 20px 0 40px;
}
.confirmModal__modal__separator {
  width: 60%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  margin: 60px 0 20px;
}
.confirmModal__modal__btnCont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  margin: 40px 0 30px;
}
.confirmModal__modal__btnCont button {
  height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f3f3f3;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  padding: 0 15px;
}
.confirmModal__modal__btnCont button:hover {
  opacity: 0.7;
  transition: opacity 200ms ease-in-out;
}
.confirmModal__modal__btnCont__toCartBtn {
  background: #FF0000;
}
.confirmModal__modal__btnCont__continueBtn {
  background: #14416A;
}

.toTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 60%;
  right: 30px;
  height: 40px;
  width: 40px;
  background: black;
  border-radius: 6px;
  color: #f3f3f3;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  transition: all 200ms ease-out;
  opacity: 0;
}
.toTop:hover {
  opacity: 0.8;
  transition: opacity 500ms ease-out;
}
.toTop--visible {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.comment {
  width: 600px;
  padding: 20px;
  margin-bottom: 30px;
  background: #f3f3f3;
  border: 1px solid rgba(128, 128, 128, 0.452);
  border-radius: 6px;
}
.comment p {
  line-height: 1.4;
}

html, body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 78vh;
}

.mainList {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #14416A;
}
.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 1480px;
  background: #14416A;
}
.header__section__box {
  display: flex;
  border-left: 1px solid #f3f3f388;
}
.header__section__box__menu {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-right: 1px solid #f3f3f388;
  height: 50px;
  width: 100px;
  color: #f3f3f3;
  transition: all 250ms ease-in-out;
}
.header__section__box__menu:hover {
  color: #FF0000;
  transition: all 250ms ease-in-out;
}
.header__section__box__menu__cartCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 0px;
  background: #FF0000;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.header__section__box__menu__cartCount__count {
  font-size: 0.7em;
  font-weight: 700;
  color: #f3f3f3;
}
.header__section__box__menu__title {
  text-transform: uppercase;
  font-size: 0.9em;
}
.header__section__title {
  color: #f3f3f3;
  font-size: 2em;
  font-weight: 700;
}
.header__section__search {
  display: flex;
}
.header__section__search__input {
  height: 40px;
  width: 360px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.226);
  color: #f3f3f3;
  padding-left: 15px;
}
.header__section__search__btn {
  height: 40px;
  width: 40px;
  font-size: 1.2em;
  background: #1a1c17;
  border-radius: 4px;
  margin-left: 3px;
  border: none;
  color: #f3f3f3;
}

.footer {
  display: flex;
  justify-content: center;
  background: #14416A;
}
.footer__section {
  display: flex;
  justify-content: space-between;
  background: #14416A;
  padding: 70px 0 120px;
  width: 1480px;
  color: #f3f3f3;
}
.footer__section h2 {
  font-size: 2em;
  width: 250px;
}
.footer__section__cont {
  display: flex;
}
.footer__section__cont__box {
  width: 220px;
  margin: 0 0 0 45px;
  line-height: 1.5;
}
.footer__section__cont__box h3 {
  border-bottom: 1px solid #f3f3f3;
  text-transform: uppercase;
  margin-bottom: 11px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 0.9em;
}
.footer__section__cont__box p {
  font-size: 0.9em;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.footer__section__cont__box p:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

.telescopesList {
  width: 1250px;
}
.telescopesList__top {
  margin: 20px 0 50px;
}
.telescopesList__top h2 {
  font-size: 1.7em;
  letter-spacing: 0.9px;
}
.telescopesList__top select {
  background: initial;
  border: #000 1px solid;
  height: 30px;
  width: 400px;
  padding-left: 10px;
  margin-top: 20px;
}
.telescopesList__main {
  display: flex;
}
.telescopesList__main ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 12px;
}

.telescopesFilter {
  width: 200px;
  margin: 20px 30px 0 0;
  padding: 20px 10px;
}
.telescopesFilter h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.9px;
  color: #14416A;
  margin: 10px 0 15px;
}
.telescopesFilter h2:first-child {
  margin-top: 0;
}
.telescopesFilter__separator {
  border-bottom: rgba(223, 223, 223, 0.5333333333) 1px solid;
  margin: 10px 0;
}

.telescopeProduct {
  width: 1480px;
}
.telescopeProduct__back {
  margin: 30px 0 10px;
  cursor: pointer;
}
.telescopeProduct__back:hover {
  opacity: 0.7;
}
.telescopeProduct__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.telescopeProduct__top__right {
  width: 840px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: 1px solid rgba(128, 128, 128, 0.452);
  padding: 10px 0 0 40px;
}
.telescopeProduct__top__right h2 {
  font-size: 1.9em;
  font-weight: 700;
  width: 80%;
  line-height: 1.4;
}
.telescopeProduct__top__right__price {
  margin: 60px 0 20px;
  font-size: 2.5em;
  font-weight: 700;
}
.telescopeProduct__top__right__price__span {
  margin-left: 20px;
  font-size: 0.8em;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #000;
  color: #FF0000;
}
.telescopeProduct__top__right__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #74c13b;
  width: 80px;
  height: 25px;
}
.telescopeProduct__top__right__stock--out {
  background: #FF0000;
}
.telescopeProduct__top__right__addCart {
  display: flex;
  margin: 50px 0;
}
.telescopeProduct__top__right__addCart__countCont {
  display: flex;
}
.telescopeProduct__top__right__addCart__countCont__btn {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  padding-bottom: 5px;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.telescopeProduct__top__right__addCart__countCont__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
  transition: all 150ms ease-in-out;
}
.telescopeProduct__top__right__addCart__countCont__btn--unselected:hover {
  background: initial;
  transition: all 150ms ease-in-out;
}
.telescopeProduct__top__right__addCart__countCont__btn:hover {
  transition: all 150ms ease-in-out;
}
.telescopeProduct__top__right__addCart__countCont__input {
  height: 50px;
  width: 120px;
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1.4em;
}
.telescopeProduct__top__right__addCart__addBtn {
  height: 50px;
  margin-left: 20px;
  width: 100vw;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #14416A;
  border: none;
  border-radius: 1px;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.telescopeProduct__top__right__addCart__addBtn__cart {
  margin-right: 15px;
  font-size: 0.9em;
}
.telescopeProduct__top__right__addCart__addBtn:hover {
  background: #FF0000;
  transition: all 250ms ease-in-out;
}
.telescopeProduct__top__left {
  display: flex;
  justify-content: space-between;
  width: 640px;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
.telescopeProduct__top__left__mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  cursor: zoom-in;
}
.telescopeProduct__top__left__mainImg__img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.telescopeProduct__top__left__tinyImg {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.telescopeProduct__top__left__tinyImg__cont {
  margin: 20px 40px;
}
.telescopeProduct__top__left__tinyImg__cont__cover {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.37);
  opacity: 0;
  cursor: pointer;
}
.telescopeProduct__top__left__tinyImg__cont__cover:hover {
  opacity: 1;
}
.telescopeProduct__top__left__tinyImg__cont__cover--active {
  background: rgba(0, 0, 0, 0.527);
  opacity: 1;
}
.telescopeProduct__top__left__tinyImg__cont img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.telescopeInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1480px;
  background: rgba(128, 128, 128, 0.452);
  margin: 40px 0;
  border-radius: 3px;
  padding: 40px;
}
.telescopeInfos h3 {
  font-size: 1.25em;
  text-decoration: underline;
  font-weight: 700;
  margin: 40px 0 25px;
  width: 100%;
}
.telescopeInfos__tabsCont {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.telescopeInfos__tabsCont__tab {
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 15px 30px 12px;
  cursor: pointer;
  user-select: none;
}
.telescopeInfos__tabsCont__tab--active {
  background: #14416A;
  color: #f3f3f3;
  border-radius: 2px;
}
.telescopeInfos__infos {
  display: none;
  flex-direction: column;
  align-items: center;
}
.telescopeInfos__infos__description {
  margin: 18px 0;
  line-height: 1.3;
  width: 100%;
  font-size: 1.08em;
}
.telescopeInfos__infos__img {
  margin: 25px 0;
  max-width: 900px;
}
.telescopeInfos__infos--active {
  display: flex;
}
.telescopeInfos__infos__caractCont {
  width: 820px;
  border: 1px solid black;
  margin: 60px 0;
}
.telescopeInfos__infos__caractCont__caract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  display: flex;
  font-weight: 700;
  font-size: 1.05em;
}
.telescopeInfos__infos__caractCont__caract__type {
  width: 320px;
  padding-left: 5px;
}
.telescopeInfos__infos__caractCont__caract__value {
  width: 500px;
}
.telescopeInfos__infos__caractCont__caract__title {
  background: #000;
  color: #f3f3f3;
  font-size: 1.1em;
}
.telescopeInfos__infos__caractCont__caract--even {
  background: rgba(125, 125, 125, 0.452);
}
.telescopeInfos__infos__commentsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.telescopeInfos__infos__commentsCont__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.telescopeInfos__infos__commentsCont__form__textArea {
  resize: none;
  width: 600px;
  height: 200px;
  margin: 0 0 20px;
  border-radius: 3px;
  border: none;
  padding: 10px;
}
.telescopeInfos__infos__commentsCont__form__btn {
  height: 40px;
  width: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background: #14416A;
  color: #f3f3f3;
  border: none;
  border-radius: 2px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.telescopeInfos__infos__commentsCont__form__btn:hover {
  background: #FF0000;
  transition: all 150ms ease-in-out;
}
.telescopeInfos__infos__commentsCont__form__notLoggedMsg {
  margin-bottom: 50px;
}
.telescopeInfos__infos__commentsCont__separator {
  width: 600px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  margin-bottom: 50px;
}

.oculaireList {
  width: 1250px;
}
.oculaireList__top {
  margin: 20px 0 50px;
}
.oculaireList__top h2 {
  font-size: 1.7em;
  letter-spacing: 0.9px;
}
.oculaireList__top select {
  background: initial;
  border: #000 1px solid;
  height: 30px;
  width: 400px;
  padding-left: 10px;
  margin-top: 20px;
}
.oculaireList__main {
  display: flex;
}
.oculaireList__main ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 12px;
}

.oculaireFilter {
  width: 200px;
  margin: 20px 30px 0 0;
  padding: 20px 10px;
}
.oculaireFilter h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.9px;
  color: #14416A;
  margin: 10px 0 15px;
}
.oculaireFilter h2:first-child {
  margin-top: 0;
}
.oculaireFilter__separator {
  border-bottom: rgba(223, 223, 223, 0.5333333333) 1px solid;
  margin: 10px 0;
}

.oculaireProduct {
  width: 1480px;
}
.oculaireProduct__back {
  margin: 30px 0 10px;
  cursor: pointer;
}
.oculaireProduct__back:hover {
  opacity: 0.7;
}
.oculaireProduct__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.oculaireProduct__top__right {
  width: 840px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: 1px solid rgba(128, 128, 128, 0.452);
  padding: 10px 0 0 40px;
}
.oculaireProduct__top__right h2 {
  font-size: 1.9em;
  font-weight: 700;
  width: 80%;
  line-height: 1.4;
}
.oculaireProduct__top__right__price {
  margin: 60px 0 20px;
  font-size: 2.5em;
  font-weight: 700;
}
.oculaireProduct__top__right__price__span {
  margin-left: 20px;
  font-size: 0.8em;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #000;
  color: #FF0000;
}
.oculaireProduct__top__right__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #74c13b;
  width: 80px;
  height: 25px;
}
.oculaireProduct__top__right__stock--out {
  background: #FF0000;
}
.oculaireProduct__top__right__addCart {
  display: flex;
  margin: 50px 0;
}
.oculaireProduct__top__right__addCart__countCont {
  display: flex;
}
.oculaireProduct__top__right__addCart__countCont__btn {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  padding-bottom: 5px;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.oculaireProduct__top__right__addCart__countCont__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
  transition: all 150ms ease-in-out;
}
.oculaireProduct__top__right__addCart__countCont__btn--unselected:hover {
  background: initial;
  transition: all 150ms ease-in-out;
}
.oculaireProduct__top__right__addCart__countCont__btn:hover {
  transition: all 150ms ease-in-out;
}
.oculaireProduct__top__right__addCart__countCont__input {
  height: 50px;
  width: 120px;
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1.4em;
}
.oculaireProduct__top__right__addCart__addBtn {
  height: 50px;
  margin-left: 20px;
  width: 100vw;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #14416A;
  border: none;
  border-radius: 1px;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.oculaireProduct__top__right__addCart__addBtn__cart {
  margin-right: 15px;
  font-size: 0.9em;
}
.oculaireProduct__top__right__addCart__addBtn:hover {
  background: #FF0000;
  transition: all 250ms ease-in-out;
}
.oculaireProduct__top__left {
  display: flex;
  justify-content: space-between;
  width: 640px;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
.oculaireProduct__top__left__mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  cursor: zoom-in;
}
.oculaireProduct__top__left__mainImg__img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.oculaireProduct__top__left__tinyImg {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.oculaireProduct__top__left__tinyImg__cont {
  margin: 20px 40px;
}
.oculaireProduct__top__left__tinyImg__cont__cover {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.37);
  opacity: 0;
  cursor: pointer;
}
.oculaireProduct__top__left__tinyImg__cont__cover:hover {
  opacity: 1;
}
.oculaireProduct__top__left__tinyImg__cont__cover--active {
  background: rgba(0, 0, 0, 0.527);
  opacity: 1;
}
.oculaireProduct__top__left__tinyImg__cont img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.oculaireInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1480px;
  background: rgba(128, 128, 128, 0.452);
  margin: 40px 0;
  border-radius: 3px;
  padding: 40px;
}
.oculaireInfos h3 {
  font-size: 1.25em;
  text-decoration: underline;
  font-weight: 700;
  margin: 40px 0 25px;
  width: 100%;
}
.oculaireInfos__tabsCont {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.oculaireInfos__tabsCont__tab {
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 15px 30px 12px;
  cursor: pointer;
  user-select: none;
}
.oculaireInfos__tabsCont__tab--active {
  background: #14416A;
  color: #f3f3f3;
  border-radius: 2px;
}
.oculaireInfos__infos {
  display: none;
  flex-direction: column;
  align-items: center;
}
.oculaireInfos__infos__description {
  margin: 18px 0;
  line-height: 1.3;
  width: 100%;
  font-size: 1.08em;
}
.oculaireInfos__infos__img {
  margin: 25px 0;
  max-width: 900px;
}
.oculaireInfos__infos--active {
  display: flex;
}
.oculaireInfos__infos__caractCont {
  width: 820px;
  border: 1px solid black;
  margin: 60px 0;
}
.oculaireInfos__infos__caractCont__caract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  display: flex;
  font-weight: 700;
  font-size: 1.05em;
}
.oculaireInfos__infos__caractCont__caract__type {
  width: 320px;
  padding-left: 5px;
}
.oculaireInfos__infos__caractCont__caract__value {
  width: 500px;
}
.oculaireInfos__infos__caractCont__caract__title {
  background: #000;
  color: #f3f3f3;
  font-size: 1.1em;
}
.oculaireInfos__infos__caractCont__caract--even {
  background: rgba(125, 125, 125, 0.452);
}
.oculaireInfos__infos__commentsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.oculaireInfos__infos__commentsCont__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oculaireInfos__infos__commentsCont__form__textArea {
  resize: none;
  width: 600px;
  height: 200px;
  margin: 0 0 20px;
  border-radius: 3px;
  border: none;
  padding: 10px;
}
.oculaireInfos__infos__commentsCont__form__btn {
  height: 40px;
  width: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background: #14416A;
  color: #f3f3f3;
  border: none;
  border-radius: 2px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.oculaireInfos__infos__commentsCont__form__btn:hover {
  background: #FF0000;
  transition: all 150ms ease-in-out;
}
.oculaireInfos__infos__commentsCont__form__notLoggedMsg {
  margin-bottom: 50px;
}
.oculaireInfos__infos__commentsCont__separator {
  width: 600px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  margin-bottom: 50px;
}

.montureList {
  width: 1250px;
}
.montureList__top {
  margin: 20px 0 50px;
}
.montureList__top h2 {
  font-size: 1.7em;
  letter-spacing: 0.9px;
}
.montureList__top select {
  background: initial;
  border: #000 1px solid;
  height: 30px;
  width: 400px;
  padding-left: 10px;
  margin-top: 20px;
}
.montureList__main {
  display: flex;
}
.montureList__main ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 12px;
}

.montureFilter {
  width: 200px;
  margin: 20px 30px 0 0;
  padding: 20px 10px;
}
.montureFilter h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.9px;
  color: #14416A;
  margin: 10px 0 15px;
}
.montureFilter h2:first-child {
  margin-top: 0;
}
.montureFilter__separator {
  border-bottom: rgba(223, 223, 223, 0.5333333333) 1px solid;
  margin: 10px 0;
}

.montureProduct {
  width: 1480px;
}
.montureProduct__back {
  margin: 30px 0 10px;
  cursor: pointer;
}
.montureProduct__back:hover {
  opacity: 0.7;
}
.montureProduct__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.montureProduct__top__right {
  width: 840px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: 1px solid rgba(128, 128, 128, 0.452);
  padding: 10px 0 0 40px;
}
.montureProduct__top__right h2 {
  font-size: 1.9em;
  font-weight: 700;
  width: 80%;
  line-height: 1.4;
}
.montureProduct__top__right__price {
  margin: 60px 0 20px;
  font-size: 2.5em;
  font-weight: 700;
}
.montureProduct__top__right__price__span {
  margin-left: 20px;
  font-size: 0.8em;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #000;
  color: #FF0000;
}
.montureProduct__top__right__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #74c13b;
  width: 80px;
  height: 25px;
}
.montureProduct__top__right__stock--out {
  background: #FF0000;
}
.montureProduct__top__right__addCart {
  display: flex;
  margin: 50px 0;
}
.montureProduct__top__right__addCart__countCont {
  display: flex;
}
.montureProduct__top__right__addCart__countCont__btn {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  padding-bottom: 5px;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.montureProduct__top__right__addCart__countCont__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
  transition: all 150ms ease-in-out;
}
.montureProduct__top__right__addCart__countCont__btn--unselected:hover {
  background: initial;
  transition: all 150ms ease-in-out;
}
.montureProduct__top__right__addCart__countCont__btn:hover {
  transition: all 150ms ease-in-out;
}
.montureProduct__top__right__addCart__countCont__input {
  height: 50px;
  width: 120px;
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1.4em;
}
.montureProduct__top__right__addCart__addBtn {
  height: 50px;
  margin-left: 20px;
  width: 100vw;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #14416A;
  border: none;
  border-radius: 1px;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.montureProduct__top__right__addCart__addBtn__cart {
  margin-right: 15px;
  font-size: 0.9em;
}
.montureProduct__top__right__addCart__addBtn:hover {
  background: #FF0000;
  transition: all 250ms ease-in-out;
}
.montureProduct__top__left {
  display: flex;
  justify-content: space-between;
  width: 640px;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
.montureProduct__top__left__mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  cursor: zoom-in;
}
.montureProduct__top__left__mainImg__img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.montureProduct__top__left__tinyImg {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.montureProduct__top__left__tinyImg__cont {
  margin: 20px 40px;
}
.montureProduct__top__left__tinyImg__cont__cover {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.37);
  opacity: 0;
  cursor: pointer;
}
.montureProduct__top__left__tinyImg__cont__cover:hover {
  opacity: 1;
}
.montureProduct__top__left__tinyImg__cont__cover--active {
  background: rgba(0, 0, 0, 0.527);
  opacity: 1;
}
.montureProduct__top__left__tinyImg__cont img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.montureInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1480px;
  background: rgba(128, 128, 128, 0.452);
  margin: 40px 0;
  border-radius: 3px;
  padding: 40px;
}
.montureInfos h3 {
  font-size: 1.25em;
  text-decoration: underline;
  font-weight: 700;
  margin: 40px 0 25px;
  width: 100%;
}
.montureInfos__tabsCont {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.montureInfos__tabsCont__tab {
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 15px 30px 12px;
  cursor: pointer;
  user-select: none;
}
.montureInfos__tabsCont__tab--active {
  background: #14416A;
  color: #f3f3f3;
  border-radius: 2px;
}
.montureInfos__infos {
  display: none;
  flex-direction: column;
  align-items: center;
}
.montureInfos__infos__description {
  margin: 18px 0;
  line-height: 1.3;
  width: 100%;
  font-size: 1.08em;
}
.montureInfos__infos__img {
  margin: 25px 0;
  max-width: 900px;
}
.montureInfos__infos--active {
  display: flex;
}
.montureInfos__infos__caractCont {
  width: 820px;
  border: 1px solid black;
  margin: 60px 0;
}
.montureInfos__infos__caractCont__caract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  display: flex;
  font-weight: 700;
  font-size: 1.05em;
}
.montureInfos__infos__caractCont__caract__type {
  width: 320px;
  padding-left: 5px;
}
.montureInfos__infos__caractCont__caract__value {
  width: 500px;
}
.montureInfos__infos__caractCont__caract__title {
  background: #000;
  color: #f3f3f3;
  font-size: 1.1em;
}
.montureInfos__infos__caractCont__caract--even {
  background: rgba(125, 125, 125, 0.452);
}
.montureInfos__infos__commentsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.montureInfos__infos__commentsCont__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.montureInfos__infos__commentsCont__form__textArea {
  resize: none;
  width: 600px;
  height: 200px;
  margin: 0 0 20px;
  border-radius: 3px;
  border: none;
  padding: 10px;
}
.montureInfos__infos__commentsCont__form__btn {
  height: 40px;
  width: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background: #14416A;
  color: #f3f3f3;
  border: none;
  border-radius: 2px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.montureInfos__infos__commentsCont__form__btn:hover {
  background: #FF0000;
  transition: all 150ms ease-in-out;
}
.montureInfos__infos__commentsCont__form__notLoggedMsg {
  margin-bottom: 50px;
}
.montureInfos__infos__commentsCont__separator {
  width: 600px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  margin-bottom: 50px;
}

.cartSteps {
  display: flex;
  justify-content: space-between;
  width: 1480px;
  margin: 15px 0 80px;
}
.cartSteps__step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  padding-bottom: 2px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  color: rgba(128, 128, 128, 0.452);
}
.cartSteps__step--active {
  border: 1px solid black;
  color: black;
}
.cartSteps__step__icon {
  height: 12px;
  margin-right: 5px;
}

.cart {
  width: 1480px;
}
.cart__title {
  font-size: 1.5em;
  font-weight: 700;
}
.cart__btns {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 40px;
}
.cart__btns__options {
  display: flex;
}
.cart__btns__options__btn {
  margin-right: 10px;
  width: 130px;
  height: 30px;
  background: #14416A;
  border: none;
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 0.75em;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.cart__btns__options__btn:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.cart__btns__orderBtn {
  height: 50px;
  border: none;
  background: #000;
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 2px;
  padding: 0 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.cart__btns__orderBtn:hover {
  background: #14416A;
  transition: all 150ms ease-in-out;
}
.cart__articles__titles {
  display: flex;
  padding: 0 5px;
}
.cart__articles__titles__title {
  font-weight: 700;
  font-size: 0.9em;
  margin-bottom: 6px;
}
.cart__articles__titles__title__article {
  width: 900px;
}
.cart__articles__titles__title__price {
  width: 180px;
}
.cart__articles__titles__title__qty {
  width: 220px;
  text-align: center;
  padding-left: 10px;
}
.cart__articles__titles__title__total {
  width: 180px;
  text-align: end;
}
.cart__articles__separator {
  border-bottom: 5px solid black;
}
.cart__articles__cartContent__article {
  display: flex;
  border-top: 2px solid rgba(128, 128, 128, 0.452);
  padding: 8px;
}
.cart__articles__cartContent__article__leftPart {
  display: flex;
  width: 900px;
  cursor: pointer;
}
.cart__articles__cartContent__article__leftPart__img {
  height: 100px;
}
.cart__articles__cartContent__article__leftPart__img img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.cart__articles__cartContent__article__leftPart h3 {
  font-size: 1.1em;
  margin: 8px 0 0 25px;
}
.cart__articles__cartContent__article__priceCont {
  display: flex;
  align-items: center;
}
.cart__articles__cartContent__article__priceCont__price {
  padding: 0 0 5px 5px;
  font-weight: 700;
  font-size: 0.9em;
  width: 180px;
}
.cart__articles__cartContent__article__modify {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
}
.cart__articles__cartContent__article__modify button, .cart__articles__cartContent__article__modify input {
  height: 30px;
  width: 30px;
}
.cart__articles__cartContent__article__modify button {
  background: #14416A;
  color: #f3f3f3;
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 3px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.cart__articles__cartContent__article__modify button:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.cart__articles__cartContent__article__modify input {
  text-align: center;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(179, 179, 179, 0.452);
  border-bottom: 1px solid rgba(179, 179, 179, 0.452);
}
.cart__articles__cartContent__article__modify__trash {
  margin-left: 5px;
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
}
.cart__articles__cartContent__article__modify__trash:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.cart__articles__cartContent__article__totalCont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 180px;
}
.cart__articles__cartContent__article__totalCont__result {
  font-size: 1.2em;
  font-weight: 700;
  color: #FF0000;
}
.cart__articles__cartContent__article:first-child {
  border-top: none;
}
.cart__articles__totalCont {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.cart__articles__totalCont h4 {
  padding-top: 4px;
}
.cart__articles__totalCont__total {
  font-size: 1.5em;
  font-weight: 700;
  color: #FF0000;
  margin-left: 100px;
}
.cart__articles__orderBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 70px 0 130px;
}

.cartEmpty {
  margin-top: 50px;
}

.cartStepCart {
  display: none;
}
.cartStepCart--active {
  display: block;
}

.contact {
  width: 1480px;
}
.contact h2 {
  margin-top: 80px;
  font-size: 1.5em;
  font-weight: 700;
}
.contact__separator {
  border-bottom: 4px solid black;
  margin: 10px 0 110px 0;
}
.contact__errorCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.contact__errorCont p {
  width: 620px;
  line-height: 1.4;
  color: #b10202;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.contact__form__row {
  display: flex;
}
.contact__form__row__inputCont {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 10px;
}
.contact__form__row__inputCont input {
  height: 35px;
  margin: 5px 0 12px 0;
}
.contact__form__message {
  display: flex;
  flex-direction: column;
  width: 620px;
}
.contact__form__message textarea {
  margin-top: 5px;
  min-height: 200px;
  resize: vertical;
}
.contact__form__btnCont {
  margin-top: 35px;
}
.contact__form__btnCont button {
  width: 130px;
  height: 30px;
  background: #14416A;
  border: none;
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 0.75em;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.contact__form__btnCont button:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

.legals {
  width: 900px;
  margin: 80px 0 80px;
}
.legals h2 {
  font-weight: 600;
  font-size: 1.7em;
  margin-bottom: 70px;
  text-align: center;
}
.legals h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 50px 0 25px;
}
.legals p {
  line-height: 1.4;
  letter-spacing: 0.7px;
}
.legals__link {
  color: #0606c7;
}
.legals__marginTop {
  margin-top: 15px;
}

.cgu {
  width: 900px;
  margin: 80px 0 80px;
}
.cgu h2 {
  font-weight: 600;
  font-size: 1.7em;
  margin-bottom: 70px;
  text-align: center;
}
.cgu h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 50px 0 25px;
}
.cgu p {
  line-height: 1.4;
  letter-spacing: 0.7px;
}
.cgu__link {
  color: #0606c7;
}
.cgu__marginTop {
  margin-top: 15px;
}
.cgu ul {
  margin: 15px 0 25px;
}
.cgu li {
  list-style: inside;
  margin-bottom: 4px;
}
.cgu__list {
  margin-left: 50px;
}
.cgu__list q {
  font-weight: 600;
}

.login__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__section h2 {
  font-size: 1.7em;
  font-weight: 700;
  margin: 50px 0 40px;
}
.login__section form {
  display: flex;
  flex-direction: column;
}
.login__section__or {
  font-size: 2em;
  font-weight: 700;
}
.login__section__logError, .login__section__signError {
  margin: 0 0 20px;
  color: #b10202;
  line-height: 1.4;
  width: 100%;
}
.login button {
  height: 45px;
  width: auto;
  padding: 0 15px;
  margin: 40px 0 60px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 1.7px;
  background: #14416A;
  border: none;
  border-radius: 3px;
  color: #f3f3f3;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}
.login button:hover {
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}
.login input {
  height: 35px;
  width: 300px;
}
.login label {
  margin: 15px 0 5px;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}
.profil h2 {
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 35px;
}
.profil button {
  height: 45px;
  width: auto;
  padding: 0 15px;
  margin: 40px 0 60px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 1.7px;
  background: #14416A;
  border: none;
  border-radius: 3px;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.profil button:hover {
  background: #FF0000;
  transition: all 250ms ease-in-out;
}
.profil__options__row {
  display: flex;
}
.profil__options__row__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.452);
  border-radius: 5px;
  width: 400px;
  padding: 30px 0;
  margin: 15px;
  cursor: pointer;
}
.profil__options__row__link__icon {
  font-size: 1.6em;
}
.profil__options__row__link h3 {
  font-size: 1.2em;
  margin-top: 15px;
}
.profil__options__row__link:hover {
  border-width: 3px;
  margin: 13px 15px;
}
.profil__options__row__link--active {
  border-width: 3px;
  margin: 13px 15px;
  border-color: #14416A;
}

.profilUpdate {
  margin-bottom: 100px;
}
.profilUpdate h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
  margin: 10px 0 40px;
}
.profilUpdate__userProfil h3 {
  margin-bottom: 20px;
  font-weight: 600;
  width: 100%;
}
.profilUpdate__userProfil h2 {
  margin-bottom: 80px;
}
.profilUpdate__userProfil__errorCont {
  margin: 0 0 50px;
  color: #b10202;
  line-height: 1.4;
}
.profilUpdate__userProfil__separator {
  margin: 60px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  width: 100%;
}
.profilUpdate__userProfil__company {
  margin-top: 25px;
}
.profilUpdate__userProfil__companyCheck {
  width: 100%;
  margin-top: 50px;
}
.profilUpdate__userProfil__basicsInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilUpdate__userProfil__basicsInfos__row {
  display: flex;
}
.profilUpdate__userProfil__basicsInfos__row__inputCont {
  display: flex;
  flex-direction: column;
}
.profilUpdate__userProfil__basicsInfos__row__inputCont label {
  margin: 30px 0 5px;
}
.profilUpdate__userProfil__basicsInfos__row__inputCont input {
  height: 35px;
  width: 300px;
}
.profilUpdate__userProfil__basicsInfos__row__inputCont:last-child {
  margin-left: 30px;
}
.profilUpdate__userProfil__options {
  margin-top: 50px;
  width: 100%;
}
.profilUpdate__userProfil__options__check {
  margin-top: 20px;
}
.profilUpdate__userProfil__btnCont {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
.profilUpdate__userProfil__btnCont button {
  height: 45px;
  width: auto;
  padding: 0 15px;
  margin: 40px 0 60px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 1.7px;
  background: #14416A;
  border: none;
  border-radius: 3px;
  color: #f3f3f3;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}
.profilUpdate__userProfil__btnCont button:hover {
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}
.profilUpdate__success {
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  margin-top: 70px;
}
.profilUpdate__part {
  display: none;
}
.profilUpdate__part--visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilUpdate__password__errorCont {
  width: 100%;
  margin: 0 0 30px;
  color: #b10202;
  line-height: 1.4;
}
.profilUpdate__email__errorCont {
  width: 100%;
  margin: 0 0 30px;
  color: #b10202;
  line-height: 1.4;
}

#profilUpdate__email__lastChildFix {
  margin-left: 0;
}

.promotionList {
  width: 1250px;
}
.promotionList__top {
  margin: 20px 0 50px;
}
.promotionList__top h2 {
  font-size: 1.7em;
  letter-spacing: 0.9px;
}
.promotionList__top select {
  background: initial;
  border: #000 1px solid;
  height: 30px;
  width: 400px;
  padding-left: 10px;
  margin-top: 20px;
}
.promotionList__main {
  display: flex;
}
.promotionList__main ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 12px;
}

.promotionFilter {
  width: 200px;
  margin: 20px 30px 0 0;
  padding: 20px 10px;
}
.promotionFilter h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.9px;
  color: #14416A;
  margin: 10px 0 15px;
}
.promotionFilter h2:first-child {
  margin-top: 0;
}
.promotionFilter__separator {
  border-bottom: rgba(223, 223, 223, 0.5333333333) 1px solid;
  margin: 10px 0;
}

/*# sourceMappingURL=style.css.map */
