/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Roboto", sans-serif;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: #f3f3f3;
}
.navBar__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.navBar__link:hover {
  background: #14416A;
}

.telescopeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 302px;
  border: 1px solid rgba(0, 0, 0, 0.068);
}
.telescopeCard h3 {
  text-align: center;
  padding: 0 25px;
  margin: 5px 0 15px;
  height: 40px;
  line-height: 1.23;
  font-weight: 700;
}
.telescopeCard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.telescopeCard__img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
}
.telescopeCard__price {
  margin-top: 15px;
  font-weight: 700;
  color: #FF0000;
}
.telescopeCard__price__span {
  position: absolute;
  color: #000;
  font-size: 0.8em;
  margin: 3px 0 0 -40px;
}
.telescopeCard__addCount {
  margin: 7px 0 10px;
}
.telescopeCard__addCount__btn {
  width: 30px;
  height: 30px;
  background: #f3f3f3;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 7px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.telescopeCard__addCount__btn:hover {
  background: #dadada;
  transition: all 200ms ease-in-out;
}
.telescopeCard__addCount__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
}
.telescopeCard__addCount__btn--unselected:hover {
  background: #f3f3f3;
}
.telescopeCard__addCount__input {
  text-align: center;
  height: 30px;
  width: 50px;
  font-size: 1.1em;
  margin: 0 15px;
}
.telescopeCard__buttons__btn {
  width: 75px;
  height: 35px;
  margin: 0 5px 15px;
  color: #f3f3f3;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.telescopeCard__buttons__btn__infos {
  background: #14416A;
  transition: opacity 200ms ease-in-out;
}
.telescopeCard__buttons__btn__infos:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.telescopeCard__buttons__btn__buy {
  background: #000;
  transition: all 200ms ease-in-out;
}
.telescopeCard__buttons__btn__buy:hover {
  background: #14416A;
  transition: all 200ms ease-in-out;
}
.telescopeCard__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrousel {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.705);
  cursor: default;
}
.carrousel__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 600px;
  min-height: 600px;
  padding: 20px;
  border-radius: 4px;
  user-select: none;
}
.carrousel__modal img {
  width: 560px;
  height: 560px;
  object-fit: cover;
}
.carrousel__modal__tinyImgs {
  display: flex;
  margin-top: 15px;
}
.carrousel__modal__tinyImgs__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 15px;
}
.carrousel__modal__tinyImgs__cont__cover {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.37);
  opacity: 0;
  cursor: pointer;
}
.carrousel__modal__tinyImgs__cont__cover:hover {
  opacity: 1;
}
.carrousel__modal__tinyImgs__cont__cover--active {
  background: rgba(0, 0, 0, 0.527);
  opacity: 1;
}
.carrousel__modal__tinyImgs__cont img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}
.carrousel__modal__closeBtn {
  position: absolute;
  right: 20px;
  font-size: 1.2em;
  font-weight: 700;
  border: 2px solid black;
  padding: 3px 7px;
  border-radius: 50%;
  background: #14416A;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.carrousel__modal__closeBtn:hover {
  color: #FF0000;
  border-color: #FF0000;
  transition: all 200ms ease-out;
}
.carrousel__modal__previous {
  position: absolute;
  left: 10px;
  top: 300px;
  height: 40px;
  width: 40px;
  font-weight: 700;
  font-size: 1.4em;
  padding-bottom: 2px;
  background: rgba(205, 205, 205, 0.452);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.carrousel__modal__previous:hover {
  background: rgba(128, 128, 128, 0.452);
  transition: all 150ms ease-in-out;
}
.carrousel__modal__next {
  position: absolute;
  right: 10px;
  top: 300px;
  height: 40px;
  width: 40px;
  font-weight: 700;
  font-size: 1.4em;
  padding-bottom: 2px;
  background: rgba(205, 205, 205, 0.452);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.carrousel__modal__next:hover {
  background: rgba(128, 128, 128, 0.452);
  transition: all 150ms ease-in-out;
}

.oculaireCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 302px;
  border: 1px solid rgba(0, 0, 0, 0.068);
}
.oculaireCard h3 {
  text-align: center;
  padding: 0 25px;
  margin: 5px 0 15px;
  height: 40px;
  line-height: 1.23;
  font-weight: 700;
}
.oculaireCard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.oculaireCard__img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
}
.oculaireCard__price {
  margin-top: 15px;
  font-weight: 700;
  color: #FF0000;
}
.oculaireCard__price__span {
  position: absolute;
  color: #000;
  font-size: 0.8em;
  margin: 3px 0 0 -40px;
}
.oculaireCard__addCount {
  margin: 7px 0 10px;
}
.oculaireCard__addCount__btn {
  width: 30px;
  height: 30px;
  background: #f3f3f3;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 7px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.oculaireCard__addCount__btn:hover {
  background: #dadada;
  transition: all 200ms ease-in-out;
}
.oculaireCard__addCount__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
}
.oculaireCard__addCount__btn--unselected:hover {
  background: #f3f3f3;
}
.oculaireCard__addCount__input {
  text-align: center;
  height: 30px;
  width: 50px;
  font-size: 1.1em;
  margin: 0 15px;
}
.oculaireCard__buttons__btn {
  width: 75px;
  height: 35px;
  margin: 0 5px 15px;
  color: #f3f3f3;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.oculaireCard__buttons__btn__infos {
  background: #14416A;
  transition: opacity 200ms ease-in-out;
}
.oculaireCard__buttons__btn__infos:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.oculaireCard__buttons__btn__buy {
  background: #000;
  transition: all 200ms ease-in-out;
}
.oculaireCard__buttons__btn__buy:hover {
  background: #14416A;
  transition: all 200ms ease-in-out;
}
.oculaireCard__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.montureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 302px;
  border: 1px solid rgba(0, 0, 0, 0.068);
}
.montureCard h3 {
  text-align: center;
  padding: 0 25px;
  margin: 5px 0 15px;
  height: 40px;
  line-height: 1.23;
  font-weight: 700;
}
.montureCard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.montureCard__img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
}
.montureCard__price {
  margin-top: 15px;
  font-weight: 700;
  color: #FF0000;
}
.montureCard__price__span {
  position: absolute;
  color: #000;
  font-size: 0.8em;
  margin: 3px 0 0 -40px;
}
.montureCard__addCount {
  margin: 7px 0 10px;
}
.montureCard__addCount__btn {
  width: 30px;
  height: 30px;
  background: #f3f3f3;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 7px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.montureCard__addCount__btn:hover {
  background: #dadada;
  transition: all 200ms ease-in-out;
}
.montureCard__addCount__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
}
.montureCard__addCount__btn--unselected:hover {
  background: #f3f3f3;
}
.montureCard__addCount__input {
  text-align: center;
  height: 30px;
  width: 50px;
  font-size: 1.1em;
  margin: 0 15px;
}
.montureCard__buttons__btn {
  width: 75px;
  height: 35px;
  margin: 0 5px 15px;
  color: #f3f3f3;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.montureCard__buttons__btn__infos {
  background: #14416A;
  transition: opacity 200ms ease-in-out;
}
.montureCard__buttons__btn__infos:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.montureCard__buttons__btn__buy {
  background: #000;
  transition: all 200ms ease-in-out;
}
.montureCard__buttons__btn__buy:hover {
  background: #14416A;
  transition: all 200ms ease-in-out;
}
.montureCard__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html, body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 78vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #14416A;
}
.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 1480px;
  background: #14416A;
}
.header__section__box {
  display: flex;
  border-left: 1px solid #f3f3f388;
}
.header__section__box__menu {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-right: 1px solid #f3f3f388;
  height: 50px;
  width: 100px;
  color: #f3f3f3;
  transition: all 250ms ease-in-out;
}
.header__section__box__menu:hover {
  color: #FF0000;
  transition: all 250ms ease-in-out;
}
.header__section__box__menu__cartCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 0px;
  background: #FF0000;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.header__section__box__menu__cartCount__count {
  font-size: 0.7em;
  color: #f3f3f3;
}
.header__section__box__menu__title {
  text-transform: uppercase;
  font-size: 0.9em;
}
.header__section__title {
  color: #f3f3f3;
  font-size: 2em;
  font-weight: 700;
}
.header__section__search {
  display: flex;
}
.header__section__search__input {
  height: 40px;
  width: 360px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.226);
  color: #f3f3f3;
  padding-left: 15px;
}
.header__section__search__btn {
  height: 40px;
  width: 40px;
  font-size: 1.2em;
  background: #1a1c17;
  border-radius: 4px;
  margin-left: 3px;
  border: none;
  color: #f3f3f3;
}

.footer {
  display: flex;
  justify-content: center;
  background: #14416A;
}
.footer__section {
  display: flex;
  justify-content: space-between;
  background: #14416A;
  padding: 70px 0 120px;
  width: 1480px;
  color: #f3f3f3;
}
.footer__section h2 {
  font-size: 2em;
  width: 250px;
}
.footer__section__cont {
  display: flex;
}
.footer__section__cont__box {
  width: 220px;
  margin: 0 0 0 45px;
  line-height: 1.5;
}
.footer__section__cont__box h3 {
  border-bottom: 1px solid #f3f3f3;
  text-transform: uppercase;
  margin-bottom: 11px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 0.9em;
}
.footer__section__cont__box p {
  font-size: 0.9em;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.footer__section__cont__box p:hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

.telescopesList {
  width: 1480px;
}

.telescopeProduct {
  width: 1480px;
}
.telescopeProduct__back {
  margin: 30px 0 10px;
  cursor: pointer;
}
.telescopeProduct__back:hover {
  opacity: 0.7;
}
.telescopeProduct__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.telescopeProduct__top__right {
  width: 840px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: 1px solid rgba(128, 128, 128, 0.452);
  padding: 10px 0 0 40px;
}
.telescopeProduct__top__right h2 {
  font-size: 1.9em;
  font-weight: 700;
  width: 80%;
  line-height: 1.4;
}
.telescopeProduct__top__right__price {
  margin: 60px 0 20px;
  font-size: 2.5em;
  font-weight: 700;
}
.telescopeProduct__top__right__price__span {
  margin-left: 20px;
  font-size: 0.8em;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #000;
  color: #FF0000;
}
.telescopeProduct__top__right__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #74c13b;
  width: 80px;
  height: 25px;
}
.telescopeProduct__top__right__stock--out {
  background: #FF0000;
}
.telescopeProduct__top__right__addCart {
  display: flex;
  margin: 50px 0;
}
.telescopeProduct__top__right__addCart__countCont {
  display: flex;
}
.telescopeProduct__top__right__addCart__countCont__btn {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  padding-bottom: 5px;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.telescopeProduct__top__right__addCart__countCont__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
  transition: all 150ms ease-in-out;
}
.telescopeProduct__top__right__addCart__countCont__btn--unselected:hover {
  background: initial;
  transition: all 150ms ease-in-out;
}
.telescopeProduct__top__right__addCart__countCont__btn:hover {
  transition: all 150ms ease-in-out;
}
.telescopeProduct__top__right__addCart__countCont__input {
  height: 50px;
  width: 120px;
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1.4em;
}
.telescopeProduct__top__right__addCart__addBtn {
  height: 50px;
  margin-left: 20px;
  width: 100vw;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #14416A;
  border: none;
  border-radius: 1px;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.telescopeProduct__top__right__addCart__addBtn__cart {
  margin-right: 15px;
  font-size: 0.9em;
}
.telescopeProduct__top__right__addCart__addBtn:hover {
  background: #FF0000;
  transition: all 250ms ease-in-out;
}
.telescopeProduct__top__left {
  display: flex;
  justify-content: space-between;
  width: 640px;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
.telescopeProduct__top__left__mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  cursor: zoom-in;
}
.telescopeProduct__top__left__mainImg__img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.telescopeProduct__top__left__tinyImg {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.telescopeProduct__top__left__tinyImg__cont {
  margin: 20px 40px;
}
.telescopeProduct__top__left__tinyImg__cont__cover {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.37);
  opacity: 0;
  cursor: pointer;
}
.telescopeProduct__top__left__tinyImg__cont__cover:hover {
  opacity: 1;
}
.telescopeProduct__top__left__tinyImg__cont__cover--active {
  background: rgba(0, 0, 0, 0.527);
  opacity: 1;
}
.telescopeProduct__top__left__tinyImg__cont img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.telescopeInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1480px;
  background: rgba(128, 128, 128, 0.452);
  margin: 40px 0;
  border-radius: 3px;
  padding: 40px;
}
.telescopeInfos h3 {
  font-size: 1.25em;
  text-decoration: underline;
  font-weight: 700;
  margin: 40px 0 25px;
  width: 100%;
}
.telescopeInfos__tabsCont {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.telescopeInfos__tabsCont__tab {
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 15px 30px 12px;
  cursor: pointer;
  user-select: none;
}
.telescopeInfos__tabsCont__tab--active {
  background: #14416A;
  color: #f3f3f3;
  border-radius: 2px;
}
.telescopeInfos__infos {
  display: none;
  flex-direction: column;
  align-items: center;
}
.telescopeInfos__infos__description {
  margin: 18px 0;
  line-height: 1.3;
  width: 100%;
  font-size: 1.08em;
}
.telescopeInfos__infos__img {
  margin: 25px 0;
  max-width: 900px;
}
.telescopeInfos__infos--active {
  display: flex;
}
.telescopeInfos__infos__caractCont {
  width: 820px;
  border: 1px solid black;
  margin: 60px 0;
}
.telescopeInfos__infos__caractCont__caract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  display: flex;
  font-weight: 700;
  font-size: 1.05em;
}
.telescopeInfos__infos__caractCont__caract__type {
  width: 320px;
  padding-left: 5px;
}
.telescopeInfos__infos__caractCont__caract__value {
  width: 500px;
}
.telescopeInfos__infos__caractCont__caract__title {
  background: #000;
  color: #f3f3f3;
  font-size: 1.1em;
}
.telescopeInfos__infos__caractCont__caract--even {
  background: rgba(125, 125, 125, 0.452);
}
.telescopeInfos__infos__commentsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.telescopeInfos__infos__commentsCont__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.telescopeInfos__infos__commentsCont__form__textArea {
  resize: none;
  width: 600px;
  height: 200px;
  margin: 0 0 20px;
  border-radius: 3px;
  border: none;
  padding: 10px;
}
.telescopeInfos__infos__commentsCont__form__btn {
  height: 40px;
  width: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background: #14416A;
  color: #f3f3f3;
  border: none;
  border-radius: 2px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.telescopeInfos__infos__commentsCont__form__btn:hover {
  background: #FF0000;
  transition: all 150ms ease-in-out;
}

.oculaireList {
  width: 1480px;
}

.oculaireProduct {
  width: 1480px;
}
.oculaireProduct__back {
  margin: 30px 0 10px;
  cursor: pointer;
}
.oculaireProduct__back:hover {
  opacity: 0.7;
}
.oculaireProduct__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.oculaireProduct__top__right {
  width: 840px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: 1px solid rgba(128, 128, 128, 0.452);
  padding: 10px 0 0 40px;
}
.oculaireProduct__top__right h2 {
  font-size: 1.9em;
  font-weight: 700;
  width: 80%;
  line-height: 1.4;
}
.oculaireProduct__top__right__price {
  margin: 60px 0 20px;
  font-size: 2.5em;
  font-weight: 700;
}
.oculaireProduct__top__right__price__span {
  margin-left: 20px;
  font-size: 0.8em;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #000;
  color: #FF0000;
}
.oculaireProduct__top__right__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #74c13b;
  width: 80px;
  height: 25px;
}
.oculaireProduct__top__right__stock--out {
  background: #FF0000;
}
.oculaireProduct__top__right__addCart {
  display: flex;
  margin: 50px 0;
}
.oculaireProduct__top__right__addCart__countCont {
  display: flex;
}
.oculaireProduct__top__right__addCart__countCont__btn {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  padding-bottom: 5px;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.oculaireProduct__top__right__addCart__countCont__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
  transition: all 150ms ease-in-out;
}
.oculaireProduct__top__right__addCart__countCont__btn--unselected:hover {
  background: initial;
  transition: all 150ms ease-in-out;
}
.oculaireProduct__top__right__addCart__countCont__btn:hover {
  transition: all 150ms ease-in-out;
}
.oculaireProduct__top__right__addCart__countCont__input {
  height: 50px;
  width: 120px;
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1.4em;
}
.oculaireProduct__top__right__addCart__addBtn {
  height: 50px;
  margin-left: 20px;
  width: 100vw;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #14416A;
  border: none;
  border-radius: 1px;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.oculaireProduct__top__right__addCart__addBtn__cart {
  margin-right: 15px;
  font-size: 0.9em;
}
.oculaireProduct__top__right__addCart__addBtn:hover {
  background: #FF0000;
  transition: all 250ms ease-in-out;
}
.oculaireProduct__top__left {
  display: flex;
  justify-content: space-between;
  width: 640px;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
.oculaireProduct__top__left__mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  cursor: zoom-in;
}
.oculaireProduct__top__left__mainImg__img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.oculaireProduct__top__left__tinyImg {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.oculaireProduct__top__left__tinyImg__cont {
  margin: 20px 40px;
}
.oculaireProduct__top__left__tinyImg__cont__cover {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.37);
  opacity: 0;
  cursor: pointer;
}
.oculaireProduct__top__left__tinyImg__cont__cover:hover {
  opacity: 1;
}
.oculaireProduct__top__left__tinyImg__cont__cover--active {
  background: rgba(0, 0, 0, 0.527);
  opacity: 1;
}
.oculaireProduct__top__left__tinyImg__cont img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.oculaireInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1480px;
  background: rgba(128, 128, 128, 0.452);
  margin: 40px 0;
  border-radius: 3px;
  padding: 40px;
}
.oculaireInfos h3 {
  font-size: 1.25em;
  text-decoration: underline;
  font-weight: 700;
  margin: 40px 0 25px;
  width: 100%;
}
.oculaireInfos__tabsCont {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.oculaireInfos__tabsCont__tab {
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 15px 30px 12px;
  cursor: pointer;
  user-select: none;
}
.oculaireInfos__tabsCont__tab--active {
  background: #14416A;
  color: #f3f3f3;
  border-radius: 2px;
}
.oculaireInfos__infos {
  display: none;
  flex-direction: column;
  align-items: center;
}
.oculaireInfos__infos__description {
  margin: 18px 0;
  line-height: 1.3;
  width: 100%;
  font-size: 1.08em;
}
.oculaireInfos__infos__img {
  margin: 25px 0;
  max-width: 900px;
}
.oculaireInfos__infos--active {
  display: flex;
}
.oculaireInfos__infos__caractCont {
  width: 820px;
  border: 1px solid black;
  margin: 60px 0;
}
.oculaireInfos__infos__caractCont__caract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  display: flex;
  font-weight: 700;
  font-size: 1.05em;
}
.oculaireInfos__infos__caractCont__caract__type {
  width: 320px;
  padding-left: 5px;
}
.oculaireInfos__infos__caractCont__caract__value {
  width: 500px;
}
.oculaireInfos__infos__caractCont__caract__title {
  background: #000;
  color: #f3f3f3;
  font-size: 1.1em;
}
.oculaireInfos__infos__caractCont__caract--even {
  background: rgba(125, 125, 125, 0.452);
}
.oculaireInfos__infos__commentsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.oculaireInfos__infos__commentsCont__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oculaireInfos__infos__commentsCont__form__textArea {
  resize: none;
  width: 600px;
  height: 200px;
  margin: 0 0 20px;
  border-radius: 3px;
  border: none;
  padding: 10px;
}
.oculaireInfos__infos__commentsCont__form__btn {
  height: 40px;
  width: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background: #14416A;
  color: #f3f3f3;
  border: none;
  border-radius: 2px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.oculaireInfos__infos__commentsCont__form__btn:hover {
  background: #FF0000;
  transition: all 150ms ease-in-out;
}

.montureList {
  width: 1480px;
}

.montureProduct {
  width: 1480px;
}
.montureProduct__back {
  margin: 30px 0 10px;
  cursor: pointer;
}
.montureProduct__back:hover {
  opacity: 0.7;
}
.montureProduct__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.montureProduct__top__right {
  width: 840px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: 1px solid rgba(128, 128, 128, 0.452);
  padding: 10px 0 0 40px;
}
.montureProduct__top__right h2 {
  font-size: 1.9em;
  font-weight: 700;
  width: 80%;
  line-height: 1.4;
}
.montureProduct__top__right__price {
  margin: 60px 0 20px;
  font-size: 2.5em;
  font-weight: 700;
}
.montureProduct__top__right__price__span {
  margin-left: 20px;
  font-size: 0.8em;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #000;
  color: #FF0000;
}
.montureProduct__top__right__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #74c13b;
  width: 80px;
  height: 25px;
}
.montureProduct__top__right__stock--out {
  background: #FF0000;
}
.montureProduct__top__right__addCart {
  display: flex;
  margin: 50px 0;
}
.montureProduct__top__right__addCart__countCont {
  display: flex;
}
.montureProduct__top__right__addCart__countCont__btn {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  padding-bottom: 5px;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.montureProduct__top__right__addCart__countCont__btn--unselected {
  opacity: 0.5;
  pointer-events: none;
  transition: all 150ms ease-in-out;
}
.montureProduct__top__right__addCart__countCont__btn--unselected:hover {
  background: initial;
  transition: all 150ms ease-in-out;
}
.montureProduct__top__right__addCart__countCont__btn:hover {
  transition: all 150ms ease-in-out;
}
.montureProduct__top__right__addCart__countCont__input {
  height: 50px;
  width: 120px;
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1.4em;
}
.montureProduct__top__right__addCart__addBtn {
  height: 50px;
  margin-left: 20px;
  width: 100vw;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #14416A;
  border: none;
  border-radius: 1px;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.montureProduct__top__right__addCart__addBtn__cart {
  margin-right: 15px;
  font-size: 0.9em;
}
.montureProduct__top__right__addCart__addBtn:hover {
  background: #FF0000;
  transition: all 250ms ease-in-out;
}
.montureProduct__top__left {
  display: flex;
  justify-content: space-between;
  width: 640px;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
.montureProduct__top__left__mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  cursor: zoom-in;
}
.montureProduct__top__left__mainImg__img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.montureProduct__top__left__tinyImg {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.montureProduct__top__left__tinyImg__cont {
  margin: 20px 40px;
}
.montureProduct__top__left__tinyImg__cont__cover {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.37);
  opacity: 0;
  cursor: pointer;
}
.montureProduct__top__left__tinyImg__cont__cover:hover {
  opacity: 1;
}
.montureProduct__top__left__tinyImg__cont__cover--active {
  background: rgba(0, 0, 0, 0.527);
  opacity: 1;
}
.montureProduct__top__left__tinyImg__cont img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.montureInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1480px;
  background: rgba(128, 128, 128, 0.452);
  margin: 40px 0;
  border-radius: 3px;
  padding: 40px;
}
.montureInfos h3 {
  font-size: 1.25em;
  text-decoration: underline;
  font-weight: 700;
  margin: 40px 0 25px;
  width: 100%;
}
.montureInfos__tabsCont {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.montureInfos__tabsCont__tab {
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 15px 30px 12px;
  cursor: pointer;
  user-select: none;
}
.montureInfos__tabsCont__tab--active {
  background: #14416A;
  color: #f3f3f3;
  border-radius: 2px;
}
.montureInfos__infos {
  display: none;
  flex-direction: column;
  align-items: center;
}
.montureInfos__infos__description {
  margin: 18px 0;
  line-height: 1.3;
  width: 100%;
  font-size: 1.08em;
}
.montureInfos__infos__img {
  margin: 25px 0;
  max-width: 900px;
}
.montureInfos__infos--active {
  display: flex;
}
.montureInfos__infos__caractCont {
  width: 820px;
  border: 1px solid black;
  margin: 60px 0;
}
.montureInfos__infos__caractCont__caract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  display: flex;
  font-weight: 700;
  font-size: 1.05em;
}
.montureInfos__infos__caractCont__caract__type {
  width: 320px;
  padding-left: 5px;
}
.montureInfos__infos__caractCont__caract__value {
  width: 500px;
}
.montureInfos__infos__caractCont__caract__title {
  background: #000;
  color: #f3f3f3;
  font-size: 1.1em;
}
.montureInfos__infos__caractCont__caract--even {
  background: rgba(125, 125, 125, 0.452);
}
.montureInfos__infos__commentsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.montureInfos__infos__commentsCont__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.montureInfos__infos__commentsCont__form__textArea {
  resize: none;
  width: 600px;
  height: 200px;
  margin: 0 0 20px;
  border-radius: 3px;
  border: none;
  padding: 10px;
}
.montureInfos__infos__commentsCont__form__btn {
  height: 40px;
  width: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background: #14416A;
  color: #f3f3f3;
  border: none;
  border-radius: 2px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.montureInfos__infos__commentsCont__form__btn:hover {
  background: #FF0000;
  transition: all 150ms ease-in-out;
}

.cartSteps {
  display: flex;
  justify-content: space-between;
  width: 1480px;
  margin: 15px 0 80px;
}
.cartSteps__step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  padding-bottom: 2px;
  background: green;
  border-radius: 15px;
}

.cart {
  width: 1480px;
}
.cart__title {
  font-size: 1.5em;
  font-weight: 700;
}
.cart__btns {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 40px;
}
.cart__btns__options {
  display: flex;
}
.cart__btns__options__btn {
  margin-right: 10px;
  width: 130px;
  height: 30px;
  background: #14416A;
  border: none;
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 0.75em;
}
.cart__articles__titles {
  display: flex;
}
.cart__articles__titles__title {
  font-weight: 700;
  font-size: 0.9em;
  margin-bottom: 6px;
}
.cart__articles__titles__title__article {
  width: 900px;
}
.cart__articles__titles__title__price {
  width: 180px;
}
.cart__articles__titles__title__qty {
  width: 220px;
  text-align: center;
}
.cart__articles__titles__title__total {
  width: 180px;
  text-align: end;
}
.cart__articles__separator {
  border-bottom: 5px solid black;
}

/*# sourceMappingURL=style.css.map */
