.cartSteps {
    display: flex;
    justify-content: space-between;
    width: 1480px;
    margin: 15px 0 80px;
    &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 30px;
        padding-bottom: 2px;
        border-radius: 15px;
        border: 1px solid map-get($map: $colors, $key: grayTrans);
        color: map-get($map: $colors, $key: grayTrans);
        &--active {
            border: 1px solid black;
            color: black;
        }
        &__icon {
            height: 12px;
            margin-right: 5px;
        }
    } 
    @include forLaptopHd {
        width: 1100px;   
    }
    @include forTablet {
        width: 90%;
        &__step {
            width: 135px;
            height: 40px;
            border-radius: 20px;
        }   
    }
}

.cart {
    width: 1480px;
    &__title {
        font-size: 1.5em;
        font-weight: 700;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        margin: 25px 0 40px;
        &__options {
            display: flex;
            &__btn {
                margin-right: 10px;
                @include cartOptionBtn;
            }
        }
        &__orderBtn {
            height: 50px;
            border: none;
            background: #000;
            color: map-get($map: $colors, $key: whiteLight);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.9em;
            letter-spacing: 2px;
            padding: 0 20px;
            border-radius: 3px;
            cursor: pointer;
            transition: all 150ms ease-in-out;
            &:hover {
                background: map-get($colors, primary);
                transition: all 150ms ease-in-out;
            }
        }
    }
    &__articles {
        &__titles {
            display: flex;
            padding: 0 5px;
            &__title {
                font-weight: 700;
                font-size: 0.9em;
                margin-bottom: 6px;
                &__article {
                    width: 900px;
                }
                &__price {
                    width: 180px;
                }
                &__qty {
                    width: 220px;
                    text-align: center;
                    padding-left: 10px;
                }
                &__total {
                    width: 180px;
                    text-align: end;
                }
            }
        }
        &__separator {
            border-bottom:5px solid black ;
        }
        &__cartContent {
            &__article {
                display: flex;
                border-top: 2px solid map-get($map: $colors, $key: grayTrans);
                padding: 8px;
                &__leftPart {
                    display: flex;
                    width: 900px;
                    cursor: pointer;
                    &__img {
                        height: 100px;
                        img {
                            height: 100px;
                            width: 100px;
                            object-fit: cover;
                        }
                    }
                    h3 {
                        font-size: 1.1em;
                        margin: 8px 0 0 25px;
                    }
                }
                &__priceCont {
                    display: flex;
                    align-items: center;
                    &__price {
                        padding: 0 0 5px 5px;
                        font-weight: 700;
                        font-size: 0.9em;
                        width: 180px;
                    }
                }
                &__modify {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 220px;
                    button, input {
                        height: 30px;
                        width: 30px;
                    }
                    button {
                        background: map-get($colors, primary);
                        color: map-get($map: $colors, $key: whiteLight);
                        border: none;
                        font-size: 1.2em;
                        font-weight: 700;
                        padding-bottom: 3px;
                        cursor: pointer;
                        transition: opacity 200ms ease-in-out;
                        &:hover {
                            opacity: 0.6;
                            transition: opacity 200ms ease-in-out;
                        }
                    }
                    input {
                        text-align: center;
                        border-left: none;
                        border-right: none;
                        border-top: 1px solid lighten(map-get($map: $colors, $key:grayTrans ), 20);
                        border-bottom: 1px solid lighten(map-get($map: $colors, $key:grayTrans ), 20);
                    }
                    &__trash {
                        margin-left: 5px;
                        cursor: pointer;
                        transition: opacity 150ms ease-in-out ;
                       &:hover {
                           opacity: 0.7;
                           transition: opacity 150ms ease-in-out ;
                       }
                    }
                }
                &__totalCont {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 180px;
                    &__result {
                        font-size: 1.2em;
                        font-weight: 700;
                        color: map-get($map: $colors, $key: tertiary);
                    }
                }
                &:first-child {
                    border-top: none;
                }
            }
        }
        &__totalCont {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            h4 {
                padding-top: 4px;
            }
            &__total {
                font-size: 1.5em;
                font-weight: 700;
                color: map-get($map: $colors, $key: tertiary);
                margin-left: 100px;
            }
        }
        &__orderBtn {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 70px 0 130px;
        }
    }
    &__modalCont {
        position: fixed;
        z-index: 100;
        top: 0;bottom: 0;
        left: 0;right: 0;
        background: rgba(0, 0, 0, 0.767);
        &__modal {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            background: map-get($colors, whiteLight);
            width: 600px;
            height: 300px;
            border-radius: 5px;
            padding: 25px 30px;
            h2 {
                font-weight: 700;
                font-size: 1.4em;
                margin: 30px 0 10px;
            }    
            button {
                height: 40px;
                width: auto;
                padding: 0 15px;
                margin: 50px 0 20px;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 700;
                letter-spacing: 1.7px;
                border:none;
                border-radius: 3px;
                color: map-get($map: $colors, $key:whiteLight );
                cursor: pointer;
                transition: all 250ms ease-in-out;
                margin: 0 20px;
                background: map-get($colors,primary );
                &:hover {
                    opacity: 0.7;
                    transition: all 250ms ease-in-out;
                }            
            }    
        }
    }
    @include forLaptopHd {
        width: 1100px;   
        &__articles {
            &__cartContent {
                &__article {
                    &__leftPart {
                        width: 665px;
                    }
                    &__priceCont {
                        &__price {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
    @include forTablet {
        width: 90%;
        &__articles {
            &__cartContent {
                &__article {
                    &__leftPart {
                        width: 465px;
                    }
                    &__priceCont {
                        &__price {
                            width: 110px;
                        }
                    }
                }
            }
        }
    }
}

.cartEmpty {
    margin-top: 50px;
}

.cartStepCart {
    display: none;
    &--active {
        display: block;
    }
}

.cart__modalConfirmDelete {
    @include modal;
}