.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    h2 {
        font-size: 1.4em;
        font-weight: 700;
        margin-top: 35px;
    }
    button {
        height: 45px;
        width: auto;
        padding: 0 15px;
        margin: 40px 0 60px;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 700;
        letter-spacing: 1.7px;
        background: map-get($colors,primary );
        border:none;
        border-radius: 3px;
        color: map-get($map: $colors, $key:whiteLight );
        cursor: pointer;
        transition: all 250ms ease-in-out;
        &:hover {
            background: map-get($colors, tertiary);
            transition: all 250ms ease-in-out;
        }
    }
    &__options {
        &__row {
            display: flex;
            &__link {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid map-get($map: $colors, $key: grayTrans);
                border-radius: 5px;
                width: 400px;
                padding: 30px 0;
                margin: 15px;
                cursor: pointer;
                &__icon {
                    font-size: 1.6em;
                }
                h3 {
                    font-size: 1.2em;
                    margin-top: 15px;
                }
                &:hover {
                    border-width: 3px;
                    margin: 13px 15px;
                }
                &--active {
                    border-width: 3px;
                    margin: 13px 15px;
                    border-color: map-get($map: $colors, $key: primary);
                }
            }
        }
    }
    @include forTablet {
        width: 100%;
        &__options {
            &__row__link {
                width: 350px;
            }
        }   
    }
    @include forMobile1 {
        &__options {
            flex-direction: column;
            align-items: center;
            &__row {
                flex-direction: column;
                align-items: center;
                &__link {
                    width: 100%;
                }
            }
        }
    }
}

.profilUpdate {
    margin-bottom: 100px;
    h2 {
        text-align: center;
        font-size: 1.8em;
        font-weight: 700;
        margin: 10px 0 40px;   
    }
    &__userProfil {
        h3 {
            margin-bottom: 20px;
            font-weight: 600;
            width: 100%;
        }
        h2 {
            margin-bottom: 80px;
        }
        &__errorCont {
            margin: 0 0 50px;
            color: rgb(177, 2, 2);
            line-height: 1.4;
        }
        &__separator {
            margin: 60px 0;
            border-bottom: 1px solid map-get($map: $colors, $key: grayTrans);
            width: 100%;
        }
        &__company {
            margin-top: 25px;
        }
        &__companyCheck {
            width: 100%;
            margin-top: 50px;
        }
        &__basicsInfos {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__row {
                display: flex;
                &__inputCont {
                    display: flex;
                    flex-direction: column;
                    label {
                        margin: 30px 0 5px;
                    }
                    input {
                        height: 35px;
                        width: 300px;
                    }
                    &:last-child {
                        margin-left: 30px;
                    }
                }
            }
        }
        &__options {
            margin-top: 50px;
            width: 100%;
            &__check {
                margin-top: 20px;
            }
        }
        &__btnCont {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            width: 100%;
            button {
                height: 45px;
                width: auto;
                padding: 0 15px;
                margin: 40px 0 60px;
                text-transform: uppercase;
                font-size: 1.3em;
                font-weight: 700;
                letter-spacing: 1.7px;
                background: map-get($colors,primary );
                border:none;
                border-radius: 3px;
                color: map-get($map: $colors, $key:whiteLight );
                cursor: pointer;
                transition: opacity 250ms ease-in-out;
                &:hover {
                    opacity: 0.7;
                    transition: opacity 250ms ease-in-out;
                }
            }
        }
    }
    &__success {
        font-size: 1.4em;
        font-weight: 600;
        text-align: center;
        margin-top: 70px;
    }
    &__part {
        display: none;
        &--visible {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__password {
        &__errorCont {
            width: 100%;
            margin: 0 0 30px;
            color: rgb(177, 2, 2);
            line-height: 1.4;
        }
    }
    &__email {
        &__errorCont {
            width: 100%;
            margin: 0 0 30px;
            color: rgb(177, 2, 2);
            line-height: 1.4;
        }
    }
    &__orders {
        &__order {
            border: 1px solid map-get($map: $colors, $key: grayTrans);
            margin-top: 40px;
            padding: 15px;
            border-radius: 3px;
            h3 {
                font-weight: 600;
            }
            &__date {
                margin:5px 0 25px;
                font-size: 0.75em;
            }
            &__elements {
                display: flex;
                justify-content: space-between;
                width: 700px;
                margin-top: 8px;
            }
        }
    }
    @include forMobile1 {
        h2 {
            width: 90%;
        }
        &__userProfil {
            h2 {
                width: 90%;
            }
            h3 {
                text-align: center;
            }
            &__basicsInfos {
                width: 90%;
                &__row {
                    flex-direction: column;
                    width: 100%;
                    &__inputCont {
                        input {
                            height: 40px;
                            width: 100%;
                        }
                        &:last-child {
                            margin-left: initial;
                        }
                    }
                }
            }
        }
    }
}

#profilUpdate__email__lastChildFix {
    margin-left: 0;
}

.profilDelete {
    &__btn {
        height: 40px;
        width: auto;
        padding: 0 15px;
        margin: 50px 0 20px;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 1.7px;
        background: map-get($colors,tertiary );
        border:none;
        border-radius: 3px;
        color: map-get($map: $colors, $key:whiteLight );
        cursor: pointer;
        transition: all 250ms ease-in-out;
        &:hover {
            color: rgb(29, 29, 29);
            transition: all 250ms ease-in-out;
        }
    }
    &__modalCont, &__modalMsgCont {
        position: fixed;
        z-index: 100;
        top: 0;bottom: 0;
        left: 0;right: 0;
        background: rgba(0, 0, 0, 0.767);
        &__modal {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            background: map-get($colors, whiteLight);
            width: 600px;
            height: 300px;
            border-radius: 5px;
            padding: 25px 30px;
            h2 {
                font-weight: 700;
                font-size: 1.4em;
                margin: 30px 0 10px;
            }
            p {
                color: map-get($map: $colors, $key: tertiary);
            }
            &__btnCont {
                position: absolute;
                bottom: 60px;
                button {
                    height: 40px;
                    width: auto;
                    padding: 0 15px;
                    margin: 50px 0 20px;
                    text-transform: uppercase;
                    font-size: 1em;
                    font-weight: 700;
                    letter-spacing: 1.7px;
                    border:none;
                    border-radius: 3px;
                    color: map-get($map: $colors, $key:whiteLight );
                    cursor: pointer;
                    transition: all 250ms ease-in-out;
                    margin: 0 20px;
                }  
                &--yes {
                    background: map-get($colors,tertiary );
                    &:hover {
                        color: rgb(29, 29, 29);
                        transition: all 250ms ease-in-out;
                    }        
                }   
                &--no {
                    background: map-get($colors,primary );
                    &:hover {
                        opacity: 0.7;
                        transition: all 250ms ease-in-out;
                    }        
                }   
            }
        }
    }
}