html, body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 78vh;
}

.mainList {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 40px;
    @include forTablet {
        flex-direction: column;  
        align-items: center; 
    }
}