.confirmModal {
    position: fixed;
    z-index: 100;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.712);
    &__modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background: map-get($colors, whiteLight);
        width: 500px;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 5px;
        &__top {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 100%;
            background: map-get($colors, primary);
            border-radius: 4px;
            p {
                text-transform: uppercase;
                color: map-get($map: $colors, $key: whiteLight);
            }
        }
        span {
            font-weight: 700;
            font-size: 1.1em;
            color: map-get($map: $colors, $key: tertiary);
        }
        h2 {
            width: 60%;
            font-size: 1.1em;
            font-weight: 700;
            margin: 20px 0 40px;
        }
        &__separator {
            width: 60%;
            border-bottom: 1px solid map-get($map: $colors, $key: grayTrans);
            margin: 60px 0 20px;
        }
        &__btnCont {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 30px;
            margin: 40px 0 30px;
            button {
                height: 40px;
                text-transform: uppercase;
                font-weight: 700;
                color: map-get($map: $colors, $key:whiteLight );
                border: none;
                border-radius: 2px;
                cursor: pointer;
                transition: all 150ms ease-in-out;
                padding: 0 15px;
                &:hover {
                    opacity: 0.7;
                    transition: opacity 200ms ease-in-out;
                }
            }
            &__toCartBtn {
                background: map-get($colors, tertiary);
            }
            &__continueBtn {
                background: map-get($colors, primary);
            }
        }
    }
    @include forMobile1 {
        &__modal {
            width: 90%;
        }
    }
}