.carrousel {
    z-index: 10;
    position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    background: rgba(0, 0, 0, 0.705);
    cursor:default;
    &__modal {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        width: 600px;
        min-height: 600px;
        padding: 20px;
        border-radius: 4px;
        user-select: none;
        img {
            width: 560px;
            height: 560px;
            object-fit: cover;
        }
        &__tinyImgs {
            display: flex;
            margin-top: 15px;
            &__cont {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                width: 100px;
                border: 1px solid rgba(0, 0, 0, 0.219);
                border-radius: 3px;
                cursor: pointer;
                margin-right: 15px;
                &__cover {
                    position: absolute;
                    width: 100px;height: 100px;
                    background: rgba(0, 0, 0, 0.37);
                    opacity: 0;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                    &--active {
                        background: rgba(0, 0, 0, 0.527);
                        opacity: 1;
                    }
                }
                img {
                    object-fit: cover;
                    height: 80px;
                    width: 80px;
                }
            }
        }
        &__closeBtn {
            position: absolute;
            right: 20px;
            font-size: 1.2em;
            font-weight: 700;
            border: 2px solid black;
            padding: 3px 7px;
            border-radius: 50%;
            background: map-get($colors, primary);
            color: map-get($map: $colors, $key:whiteLight );
            cursor: pointer;
            transition: all 200ms ease-in-out;
            &:hover {
                color: map-get($map: $colors, $key: tertiary);
                border-color: map-get($map: $colors, $key: tertiary);
                transition: all 200ms ease-out;
            }
        }
        &__previous {
            position: absolute;
            left: 10px;
            top: 300px;
            @include carrouselBtn;
        }
        &__next {
            position: absolute;
            right: 10px;
            top: 300px;
            @include carrouselBtn;
        }
    }
    @include forLaptopHd {
        &__modal {
            width: 500px;
            height: 500px;  
            top: 47%;
            img {
                width: 460px;
                height: 460px;
            }
            &__tinyImgs {
                &__cont {
                    height: 60px;
                    width: 60px;
                    &__cover {
                        width: 60px;
                        height: 60px;
                    }
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }    
    }
}