@mixin carrouselBtn {
    height: 40px;
    width: 40px;
    font-weight: 700;
    font-size: 1.4em;
    padding-bottom: 2px;
    background: lighten(map-get($colors, grayTrans),30);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    &:hover {
        background:map-get($colors, grayTrans) ;
        transition: all 150ms ease-in-out;
    }
}

@mixin cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 302px;
    border: 1px solid rgba(0, 0, 0, 0.068);
    h3 {
        text-align: center;
        padding: 0 25px;
        margin: 5px 0 15px;
        height: 40px;
        line-height: 1.23;
        font-weight: 700;
    }
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.7em;
        max-width: 250px;
        min-width: 250px;
        height: 250px;
    }
    &__price {
        margin-top: 15px;
        font-weight: 700;
        color: map-get($map: $colors, $key: tertiary);
        &__span {
            position: absolute;
            color: #000;
            font-size: 0.8em;
            margin: 3px 0 0 -40px;
        }
    }
    &__addCount {
        margin: 7px 0 10px;
        &__btn {
            width: 30px;
            height: 30px;
            background: map-get($colors, whiteLight);
            border: none;
            font-size: 1.3em;
            font-weight: 700;
            padding-bottom: 7px;
            cursor: pointer;
            transition: all 200ms ease-in-out;
            &:hover {
                background: darken(map-get($colors, whiteLight), 10);
                transition: all 200ms ease-in-out;
            }
            &--unselected {
                position: relative;
                z-index: -1;
                opacity: 0.5;
                pointer-events: none;
                &:hover {
                    background: map-get($colors, whiteLight);
                }
            }
        }
        &__input {
            text-align: center;
            height: 30px;
            width: 50px;
            font-size: 1.1em;
            margin: 0 15px;
        }
    }
    &__buttons {
        &__btn {
            width: 75px;
            height: 35px;
            margin: 0 5px 15px;
            color: map-get($map: $colors, $key: whiteLight);
            border: none;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 3px;   
            cursor: pointer;         
            &__infos {
                background: map-get($colors, primary);
                transition: opacity 200ms ease-in-out;
                &:hover {
                    opacity: 0.6;
                    transition: opacity 200ms ease-in-out;
                }
            }
            &__buy {
                background: #000;
                transition: all 200ms ease-in-out;
                &:hover {
                    background: map-get($colors, primary);
                    transition: all 200ms ease-in-out;
                }
            }
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

@mixin list {
    width: 1250px;
    &__top {
        margin: 20px 0 50px;
        h2 {
            font-size: 1.7em;
            letter-spacing: 0.9px;
        }
        select {
            background: initial;
            border: #000 1px solid;
            height: 30px;
            width: 400px;
            padding-left: 10px;
            margin-top: 20px;
        }
    }
    &__main {
        display: flex;
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 25px 12px;
        }
    }
    &__separator {
        border-bottom: 1px solid lighten(map-get($map: $colors, $key: grayTrans), 35);
        margin-top: 80px ;
    }
    &__bot {
        &__title {
            font-size: 1.7em;
            letter-spacing: 0.9px;
            margin: 60px 0 50px;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            li {
                margin-bottom: 20px;
            }
        }
    }
    @include forLaptopHd {
        width: 950px;
        &__bot {
            &__list {
                flex-wrap: wrap;
            }
        }
    }
    @include forTablet {
        width: 95%;
        ul {
            display: flex;
            justify-content: center;
        }
        &__bot {
            &__list {
                li {
                    margin: 7px 7px;
                }
            }
        }
    }
    @include forMobile1 {
        &__top {
            select {
                width: 100%;
                height: 50px;
            }
        }
    }
    &__noResult {
        font-size: 2em;
        text-align: center;
        width: 100%;
        margin: 100px 0;
    }
}

@mixin filter {
    width: 200px;
    margin:20px 30px 0 0;
    padding: 20px 10px;
    &__option {
        cursor: pointer;
        margin-bottom: 3px;
        label {
            cursor: pointer;
            margin-left: 3px;
        }
        input {
            cursor: pointer;
        }
    }
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2em;
        letter-spacing: 0.9px;
        color: map-get($map: $colors, $key: primary);
        margin: 10px 0 15px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__separator {
        border-bottom: darken(map-get($map: $colors, $key: whiteTrans), 8) 1px solid;
        margin: 10px 0;
    }
    &__btn {
        height: 35px;
        margin: 5px 5px 15px;
        color: map-get($map: $colors, $key: whiteLight);
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 3px;   
        cursor: pointer; 
        background: map-get($colors, primary);
        transition: opacity 150ms ease-in-out;
        &:hover {
            opacity: 0.7;
            transition: opacity 150ms ease-in-out;
        }
    }
    select {
        height: 30px;
        width: 180px;
    }
    @include forTablet {
        width: 92%;   
        &__optionsCont {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        &__btnCont {
            button {
                height: 50px;
                margin-right: 20px;
                padding: 0 12px ;
            }
        }
        input {
            width: 20px;height: 20px;
        }
        label {
            height: 100%;
        }
        &__option {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        &__separator {
            border: none;
        }
    }
    @include forMobile1 {
        width: 95%;
        margin: 70px 0 0;
        &__optionsCont {
            flex-direction: column;
            align-items: center;
            &__select {
                width: 220px;
                select {
                    width: 100%;
                    height: 50px;
                    font-size: 1em;
                }
            }
        }
        &__btnCont {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-self: center;
            button {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
                padding: 0 ;
            }
        }
        input {
            width: 30px;height: 30px;
        }
        label {
            font-size: 1.2em;
        }
        &__option {
            width: 220px;
            margin-bottom: 20px;
        }
        &__separator {
            border: 1px solid map-get($map: $colors, $key:whiteTrans );
        }
    }
}

@mixin product {
    width: 1480px;
    &__back {
        margin: 30px 0 10px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__right {
            width: 840px;
            border-bottom: 1px solid map-get($map: $colors, $key:grayTrans );
            border-left: 1px solid map-get($map: $colors, $key:grayTrans );
            padding: 10px 0 0 40px;
            h2 {
                font-size: 1.9em;
                font-weight: 700;
                width: 80%;
                line-height: 1.4;
            }
            &__price {
                margin: 60px 0 20px;
                font-size: 2.5em;
                font-weight: 700;
                &__span {
                    margin-left: 20px;
                    font-size: 0.8em;
                    text-decoration:line-through;
                    text-decoration-thickness: 3px;
                    text-decoration-color: #000;
                    color: map-get($map: $colors, $key:tertiary);
                }
            }
            &__stock {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background: map-get($colors, greenValidate);
                width: 80px;
                height: 25px;
                &--out {
                    background: map-get($map: $colors, $key:tertiary );
                }
            }
            &__addCart {
                display: flex;
                margin: 50px 0;
                &__countCont {
                    display: flex;
                    &__btn {
                        height: 50px;
                        width: 50px;
                        border: 1px solid map-get($map: $colors,$key:grayTrans  );
                        padding-bottom: 5px;
                        font-size: 1.5em;
                        font-weight: 700;
                        cursor: pointer;
                        transition: all 150ms ease-in-out;
                        &--unselected {
                            opacity: 0.5;
                            pointer-events: none;
                            transition: all 150ms ease-in-out;
                            &:hover {
                                background: initial;
                                transition: all 150ms ease-in-out;
                            }
                        }
                        &:hover {
                            transition: all 150ms ease-in-out;
                        }
                    }
                    &__input {
                        height: 50px;
                        width: 120px;
                        border-top: 1px solid map-get($map: $colors,$key:grayTrans);
                        border-bottom : 1px solid map-get($map: $colors,$key:grayTrans);
                        border-left: none;
                        border-right: none;
                        padding-bottom: 3px;
                        text-align: center;
                        font-size: 1.4em;
                    }
                }
                &__addBtn {
                    height: 50px;
                    margin-left: 20px;
                    width: 100vw;
                    text-transform: uppercase;
                    font-size: 1.4em;
                    font-weight: 700;
                    letter-spacing: 1.8px;
                    background: map-get($colors,primary );
                    border:none;
                    border-radius: 1px;
                    color: map-get($map: $colors, $key:whiteLight );
                    cursor: pointer;
                    transition: all 250ms ease-in-out;
                    &__cart {
                        margin-right: 15px;
                        font-size: 0.9em;
                    }
                    &:hover {
                        background: map-get($colors, tertiary);
                        transition: all 250ms ease-in-out;
                    }
                }
            }
        }
        &__left {
            display: flex;
            justify-content:space-between ;
            width: 640px;
            display: flex;
            border-bottom: 1px solid map-get($map: $colors, $key:grayTrans );
            &__mainImg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 500px;
                cursor:zoom-in;
                &__img {
                    height: 400px;
                    width: 400px;
                    object-fit: cover;
                }
            }
            &__tinyImg {
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                &__cont {
                    margin: 20px 40px;
                    &__cover {
                        position: absolute;
                        width: 80px;height: 80px;
                        background: rgba(0, 0, 0, 0.37);
                        opacity: 0;
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                        }
                        &--active {
                            background: rgba(0, 0, 0, 0.527);
                            opacity: 1;
                        }
                    }
                    img {
                        object-fit: cover;
                        height: 80px;
                        width: 80px;
                    }
                }
            }
        }
    }
    @include forLaptopHd {
        width: 1100px;
        &__top__right {
            width: 600px;
            &__addCart {
                &__countCont {
                    &__input {
                        width: 70px;
                    }
                }
                &__addBtn {
                    font-size: 1em;
                    width: 300px;
                }
            }
        }   
    }
    @include forTablet {
        width: 90%;   
        &__top {
            &__right {
                width: 50%;
                h2 {
                    width: 100%;
                    font-size: 1.4em;
                }
                &__addCart {
                    flex-direction: column;
                    &__countCont {
                        &__input {
                            width: 70px;
                        }
                    }
                    &__addBtn {
                        font-size: 1em;
                        width: 300px;
                        margin: initial;
                        margin-top: 20px;
                    }
                }
            }
            &__left {
                width: 50%;
                &__mainImg {
                    height: 400px;
                    width: 90%;
                    &__img {
                        height: auto;
                        width: 90%;
                    }
                }
                &__tinyImg {
                    &__cont {
                        margin: 10px 20px;
                        &__cover {
                            width: 60px;
                            height: 60px;
                        }
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }   
    }
    @include forMobile1 {
        &__back {
            margin-top: 90px;
        }
        &__top {
            flex-direction: column;
            &__right, &__left {
                width: 100%;
            }
            &__right {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-left: none;
                padding: 10px 20px;
                h2 {
                    width: 100%;
                    text-align: center;
                }
                &__price {
                    text-align: center;
                }
                &__addCart {
                    &__countCont {
                        justify-content: center;
                        &__input {
                            width: 100%;
                        }
                    }
                    &__addBtn {
                        margin-top: 50px;
                        height: 100px;
                    }
                }
            }
            &__left {
                flex-direction: column;
                align-items: center;
                width: 100%;
                &__tinyImg {
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 20px;
                    width: 100%;
                    &__cont {
                        margin: 10px 20px;
                        &__cover {
                            width: 70px;
                            height: 70px;
                        }
                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}

@mixin productInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1480px;
    background: map-get($map: $colors, $key: grayTrans);
    margin: 40px 0;
    border-radius: 3px;
    padding: 40px;
    h3 {
        font-size: 1.25em;
        text-decoration: underline;
        font-weight: 700;
        margin: 40px 0 25px;
        width: 100%;
    }
    &__tabsCont {
        display: flex;
        justify-content: space-between;
        width: 900px;
        &__tab {
            font-size: 1.6em;
            text-transform: uppercase;
            padding: 15px 30px 12px;
            cursor: pointer;
            user-select: none;
            &--active {
                background: map-get($colors, primary);
                color: map-get($map: $colors, $key:whiteLight );
                border-radius: 2px;
            }
        }
    }
    &__infos {
        display: none;
        flex-direction: column;
        align-items: center;
        &__description {
            margin: 18px 0;
            line-height: 1.3;
            width: 100%;
            font-size: 1.08em;
        }
        &__img {
            margin: 25px 0;
            max-width: 900px;
        }
        &--active {
            display: flex;
        }
        &__caractCont {
            width: 820px;
            border: 1px solid black;
            margin: 60px 0;
            &__caract {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 38px;
                display: flex;
                font-weight: 700;
                font-size: 1.05em;
                &__type {
                    width: 320px;
                    padding-left: 5px;
                }
                &__value {
                    width: 500px;
                }
                &__title {
                    background: #000;
                    color: map-get($map: $colors, $key:whiteLight );
                    font-size: 1.1em;
                }
                &--even {
                    background: darken(map-get($colors, grayTrans), 1);
                }
            }
        }
        &__commentsCont {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px 0;
            &__form {
                display: flex;
                flex-direction: column;
                align-items: center;
                &__textArea {
                    resize: none;
                    width: 600px;
                    height: 200px;
                    margin: 0 0 20px;
                    border-radius: 3px;
                    border: none;
                    padding: 10px;
                }
                &__btn {
                    height: 40px;
                    width: 80px;
                    text-transform: uppercase;
                    font-weight: 700;
                    background: map-get($colors, primary);
                    color: map-get($map: $colors, $key:whiteLight );
                    border: none;
                    border-radius: 2px;
                    margin-bottom: 50px;
                    cursor: pointer;
                    transition: all 150ms ease-in-out;
                    &:hover {
                        background: map-get($colors, tertiary);
                        transition: all 150ms ease-in-out;
                    }
                }
                &__notLoggedMsg {
                    margin-bottom: 50px;
                }
            }
            &__separator {
                width: 600px;
                border-bottom: 1px solid map-get($map: $colors, $key: grayTrans);
                margin-bottom: 50px;
            }
        }
    }
    @include forLaptopHd {
        width: 1100px; 
        &__infos {
            &__img  {
                max-width: 640px
            }
        }
    }
    @include forTablet {
        width: 90%; 
        &__tabsCont {
            width: 100%;
            &__tab {
                font-size: 1.4em;
                padding: 15px 25px 12px;
            }
        }  
        &__infos {
            &__caractCont {
                width: 85%;
                &__caract {
                    &__title {
                        padding: 5px 0;
                        height: auto;
                    }
                }
            }
            &__img  {
                max-width: 100%
            }
        }
    }
    @include forMobile1 {
        width: 100%;
        border-radius: 0; 
        padding: 40px 0;
        &__tabsCont {
            flex-direction: column;
            width: 90%;
            &__tab {
                text-align: center;
                padding: 15px 0 12px;
            }
        }
        &__infos {
            width: 90%;
            &__caractCont {
                width: 100%;
                &__caract {
                    &__value {
                        text-align: end;
                    }
                    &__title {
                        height: auto;
                        font-size: 1em;
                    }
                }
            }
            &__commentsCont {
                width: 100%;
                &__form {
                    width: 100%;
                    &__textArea {
                        width: 100%;
                    }
                }
                &__separator {
                    width: 100%;
                }
            }
        }
    }
}

@mixin cartOptionBtn {
    width: 130px;
    height: 30px;
    background: map-get($colors, primary);
    border: none;
    color: map-get($map: $colors, $key: whiteLight);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 0.75em;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
        &:hover {
            opacity: 0.6;
            transition: opacity 200ms ease-in-out;
        }
}

@mixin legalsText {
    width: 900px;
    margin: 80px 0 80px;
    h2 {
        font-weight: 600;
        font-size: 1.7em;
        margin-bottom: 70px;
        text-align: center;
    }
    h3 {
        font-size: 1.2em;
        font-weight: 700;
        margin: 50px 0 25px;
    }
    p {
        line-height: 1.4;
        letter-spacing: 0.7px;
    }
    &__link {
        color: rgb(6, 6, 199);
    }
    &__marginTop {
        margin-top: 15px;
    }
    @include forTablet {
        width: 90%;   
    }
}

@mixin modal {
    position: fixed;
    z-index: 100;
    top: 0;bottom: 0;
    left: 0;right: 0;
    background: rgba(0, 0, 0, 0.726);
    &__modal {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: map-get($colors, whiteLight);
        padding: 30px 25px;
        border-radius: 3px;
        h2 {
            text-align: center;
            font-weight: 600;
            font-size: 1.1em;
        }
        &__btnCont {
            display: flex;
            justify-content: center;
            button {
                margin:60px 5px 0 ;
                width: 70px;
                height: 35px;
                color: map-get($map: $colors, $key: whiteLight);
                border: none;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 3px;   
                cursor: pointer; 
                background: map-get($colors, primary);
                transition: opacity 150ms ease-in-out;
                &:hover {
                    opacity: 0.7;
                    transition: opacity 150ms ease-in-out;
                }
            }
        }
    }
}

@mixin homeTitle {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 45px;
}

@mixin userUpdateForm {
    width: 90%;
    &__row {
        flex-direction: column;
        width: 100%;
        &__inputCont {
            input {
                height: 40px;
                width: 100%;
            }
            &:last-child {
                margin-left: initial;
            }
        }
    }    
}

@mixin forLaptopHd {
    @media screen and (max-width: map-get($queries, laptop)) {
        @content
    }
}

@mixin forTablet {
    @media screen and (max-width: map-get($queries, tablet)) {
        @content
    }
}

@mixin forMobile1 {
    @media screen and (max-width: map-get($queries, mobile1)) {
        @content
    }
}