$colors :(
    primary : #14416A,
    secondary : #14416A,
    tertiary : #FF0000,
    whiteLight : #f3f3f3,
    whiteTrans: #f3f3f388,
    grayTrans: rgba(128, 128, 128, 0.452),
    greenValidate: #74c13b
);